<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home" aria-hidden="true"></i> </li>
        <li class="breadcrumb-item active">Client</li>
        <li class="breadcrumb-item active">Company</li>
        <li class="breadcrumb-item active">Profile</li>
    </ol>
</nav>
<div class="tab-content" style="background-color: white;">
    <div class="tab-pane fade in active">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel">
                    <div class="panel-heading btn-toggle-collapse">
                        <span><b>Profile Entry</b> </span>
                        <div class="right">
                            <button type="button"><i class="lnr lnr-chevron-up"></i></button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <span class="input-group-addon">Company Name</span>
                                        <input [(ngModel)]="companyObj.CompanyName" class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <span class="input-group-addon">Trade Licence No</span>
                                        <input [(ngModel)]="companyObj.TradeLicNo" class="form-control"
                                            placeholder="Licence No" type="text">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <span class="input-group-addon">Insurance No</span>
                                        <input [(ngModel)]="companyObj.InsuranceNo" class="form-control" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-4 mt-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">Opening Date</span>
                                        <input [(ngModel)]="companyObj.OpeningDate" class="form-control" type="date">
                                        <!-- <input class="form-control form-control-sm dateInput" data-date="" 
                                        [attr.data-date]="companyObj.OpeningDate" data-date-format="MM/DD/YYYY" [(ngModel)]="companyObj.OpeningDate" type="date" > -->
                                    </div>
                                </div>
                                <div class="col-md-4 mt-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">Head Office Address</span>
                                        <textarea [(ngModel)]="companyObj.HoAddress" class="form-control"
                                            rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-4 mt-3">
                                    <img [src]="imgFileBase64" height="100" width="100" *ngIf="imgFileBase64">
                                    <img src={{url}} height="100" width="100"
                                        *ngIf=" ! imgFileBase64">
                                    <div class="input-group">
                                        <span class="input-group-addon">Photo</span>
                                        <input #file type="file" class="form-control" accept='image/*'
                                            (change)="Imagepreview(file.files)" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-3 mt-3">
                                    <button (click)="saveUpdate()" type="button" class="btn btn-success"><i
                                            class="fa fa-plus"></i> Save</button>
                                    <button type="button" (click)="ResetModel()" class="btn btn-info ml-2"><i
                                            class="fas fa-redo-alt"></i> Reset</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>