<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home" aria-hidden="true"></i> </li>
        <li class="breadcrumb-item active">Client</li>
        <li class="breadcrumb-item active">Business</li>
        <li class="breadcrumb-item active">Travel</li>
        <li class="breadcrumb-item active">Airlines</li>
    </ol>
</nav>

<div class="tab-content" style="background-color: white;">
    <div class="tab-pane fade in active">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel">
                    <div class="panel-heading btn-toggle-collapse">
                        <span><b>AIRLINE ENTRY</b> </span>
                        <div class="right">
                            <button type="button"><i class="lnr lnr-chevron-up"></i></button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">Airline Code</span>
                                        <input [(ngModel)]="airlineObj.AirlinesCode" class="form-control" type="text"
                                            readonly>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">AirLine Name</span>
                                        <input [(ngModel)]="airlineObj.AirlinesName" class="form-control"
                                            placeholder="Airline Name" type="text">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">Opening Balance</span>
                                        <input [(ngModel)]="airlineObj.OpeningBalance" class="form-control"
                                            placeholder="Opening Balance" type="number">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-3 mt-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">Website Address</span>
                                        <input [(ngModel)]="airlineObj.WebsiteAddress" class="form-control"
                                            placeholder="Website Address" type="text">
                                    </div>
                                </div>
                                <div class="col-md-3  mt-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">Is Active:</span>
                                        <i *ngIf="airlineObj?.isActive" (click)="airlineObj.isActive = false"
                                            class="fa fa-check-square-o font-size-35 ml-3  text-success"
                                            aria-hidden="true"></i>
                                        <i *ngIf="! airlineObj?.isActive" (click)="airlineObj.isActive = true"
                                            class="fa fa-square-o font-size-35 ml-3 text-success"
                                            aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-3 mt-3">
                                    <button *ngIf="airlineObj?.ID == 0" (click)="saveAirline()" type="button"
                                        class="btn btn-success"><i class="fa fa-plus"></i> Save</button>
                                    <button *ngIf="airlineObj?.ID > 0" (click)="saveAirline()" type="button"
                                        class=" btn btn-success ml-2"><i class="fa fa-plus"></i> Update</button>
                                    <button type="button" (click)="ResetModel()" class="btn btn-info ml-2"><i
                                            class="fas fa-redo-alt"></i> Reset</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- --list -->
                <div class="panel">
                    <div class="panel-heading">
                        <span class="hoverlink"  ><b>AirLines List</b> <i
                                class="fa fa-refresh ml-2 text-success" aria-hidden="true"></i></span>

                        <span class="label label-primary ml-2 hoverPointer">Report</span>
                        <span class="label label-primary ml-2 hoverPointer">PRIMARY</span>
                        <span class="label label-success ml-2 hoverPointer">SUCCESS</span>
                        <span class="label label-info ml-2 hoverPointer">INFO</span>
                        <span class="label label-warning ml-2 hoverPointer">WARNING</span>
                        <span class="label label-danger ml-2 hoverPointer">DANGER</span>
                        <div class="right">
                            <button type="button" class="btn-toggle-collapse"><i
                                    class="lnr lnr-chevron-up"></i></button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="table-fixed">
                            <table class="table table-bordered table-p4 custom-table-hover">
                                <thead>
                                    <tr>
                                        <th colspan="6">
                                            <input class="form-control form-control-sm" placeholder="Search" type="text"
                                                [(ngModel)]="SearchAirlineList">
                                        </th>
                                    </tr>
                                    <tr>
                                        <th class="width-1p text-center">SN#</th>
                                        <th class="width-2p">Airline Code</th>
                                        <th class="width-4p text-center">Airline Name</th>
                                        <th class="width-4p text-center">Website Address</th>
                                        <th class="width-4p text-center">Opening Balance</th>
                                        <th class="width-2p text-center">Edit</th>
                                        <th class="width-2p text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        *ngFor="let item of airlineList | searchFilter : SearchAirlineList; let i = index">
                                        <td class="text-right"> {{i+1}} </td>
                                        <td class="text-left"> {{item?.AirlinesCode}} </td>
                                        <td class="text-left"> {{item?.AirlinesName}} </td>
                                        <td class="text-left"> {{item?.WebsiteAddress}} </td>
                                        <td class="text-left"> {{item?.OpeningBalance}} </td>
                                        <td class="text-center">
                                            <span *ngIf="item?.isActive" class="text-success">Active</span>
                                            <span *ngIf="! item?.isActive" class="text-danger">In-Active</span>
                                        </td>
                                        <td (click)="EditItem(item)" title="Click to Edit the item."
                                            class="hoverPointer text-center"><i class="lnr lnr-pencil"></i></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>