<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home" aria-hidden="true"></i> </li>
        <li class="breadcrumb-item active">Client</li>
        <li class="breadcrumb-item active">Business</li>
        <li class="breadcrumb-item active">Travel</li>
        <li class="breadcrumb-item active">Transaction</li>
        <li class="breadcrumb-item active">Group</li>
        <li class="breadcrumb-item active">Tour</li>
    </ol>
</nav>
<ul class="nav nav-tabs">
    <li (click)="getGroupTourList()" ><a data-toggle="tab" class="hoverlink" href="#GroupTourList" id="GroupTourList_tab">Group Tour
            List</a></li>
    <li class="active">
        <a data-toggle="tab" class="hoverlink" href="#GroupTourEntry" id="GroupTourEntry_tab">Group Tour Entry</a>
    </li>

</ul>
<div class="tab-content" style="background-color: white;">
    <!-- TAB LIST | 1st TAB-->
    <div id="GroupTourList" class="tab-pane">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel">
                    <div class="panel-body">
                        <div class="table-fixed">
                            <table class="table table-bordered table-p5 custom-table-hover">
                                <thead>
                                    <tr>
                                        <th colspan="15">
                                            <input class="form-control form-control-sm" placeholder="Search" type="text"
                                                [(ngModel)]="SearchGroupTourList">
                                        </th>
                                    </tr>
                                    <tr>
                                        <th class="width-1p text-center">SN#</th>
                                        <th class="width-15p text-left">Transaction Code</th>
                                        <th class="width-15p text-left">Transaction Date</th>
                                        <th class="width-2p text-center">Tour Name</th>
                                        <th class="width-15p text-center">Tour Start Date</th>
                                        <th class="width-15p text-center">Tour End Date </th>
                                        <th class="width-10p text-center">NoofDays</th>
                                        <th class="width-1p text-center">NoofNight</th>
                                        <th class="width-15p text-center">NoofParticipent </th>
                                        <th class="width-15p text-center">IsFinalLocked </th>
                                        <th class="width-10p text-center">Sales Reference</th>
                                        <th class="width-10p text-center">Prepared By</th>
                                        <th class="width-2p text-center">Action</th>
                                        <th class="width-2p text-center">Cancellation</th>
                                        <th class="width-2p text-center">Print</th>
                                    </tr>
                                </thead>
                                <tbody class="font-size-12">
                                    <tr
                                        *ngFor="let item of grouptourList | searchFilter : SearchGroupTourList; let i = index">
                                        <td class="text-right"> {{i+1}} </td>
                                        <td class="text-left  width-10p"> {{item?.TransactionCode}} </td>
                                        <td class="text-left  width-6p"> {{item?.TransactionDate | date: 'dd MMM
                                            yyyy'}} </td>
                                        <td class="text-left  width-20p"> {{item?.TourName}}
                                        </td>
                                        <td class="text-left  width-6p"> {{item?.TourStartDate | date: 'dd MMM
                                            yyyy'}} </td>
                                        <td class="text-left  width-6p"> {{item?.TourEndDate | date: 'dd MMM
                                            yyyy'}} </td>
                                        <td class="text-left width-5p"> {{item?.NoofDays}} </td>
                                        <td class="text-left width-10p"> {{item?.NoofNight}} </td>
                                        <td class="text-left width-10p"> {{item?.NoofParticipent}} </td>
                                        <td class="text-center">
                                            <span *ngIf="item?.IsFinalLocked" class="text-success">Locked</span>
                                            <span *ngIf="!item?.IsFinalLocked" class="text-danger">UnLock</span>
                                        </td>
                                        <td class="text-left width-10p"> {{item?.SalesStaff}} </td>
                                        <td class="text-left width-10p"> {{item?.PreparedBy}} </td>

                                        <td (click)="EditItem(item)" title="Click to Edit the item."
                                            class="hoverPointer text-center"><i class="lnr lnr-pencil"></i>
                                        </td>
                                        <td (click)="cancellation(item)" title="Click to Cancel the item."
                                            class="hoverPointer text-center"><i class="lnr lnr-pencil"></i>
                                        </td>
                                        <td class="text-center width-5p">
                                            <button class="btn btn-info" (click)="PrintGroupTour(item)">
                                                Print
                                                <i class="fa fa-print" aria-hidden="true" style="padding: 2px"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- TAB Entry | 2nd TAB-->
    <div id="GroupTourEntry" class="tab-panel fade in active">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel">
                    <div class="panel-heading btn-toggle-collapse">
                        <span><b>Master</b> </span>
                        <div class="right">
                            <button type="button"><i class="lnr lnr-chevron-up"></i></button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12  mt-3">
                                <div class="col-md-3 mt-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">Transaction Code</span>
                                        <input readonly [(ngModel)]="groupTourMasterObj.TransactionCode"
                                            class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-md-3 mt-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">Transaction Date</span>
                                        <input type="date" data-date=""
                                            [attr.data-date]="groupTourMasterObj.TransactionDate"
                                            data-date-format="dd-MM-YYYY" class="form-control width-190 form-control-sm"
                                            [(ngModel)]="groupTourMasterObj.TransactionDate" />
                                    </div>
                                </div>
                                <div class="col-md-3 mt-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">Tour Name</span>
                                        <input [(ngModel)]="groupTourMasterObj.TourName" class="form-control"
                                            type="text">
                                    </div>
                                </div>
                                <div class="col-md-3 mt-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">Tour Start Date</span>
                                        <input type="date" data-date=""
                                            [attr.data-date]="groupTourMasterObj.TourStartDate"
                                            data-date-format="dd-MM-YYYY" class="form-control width-190 form-control-sm"
                                            [(ngModel)]="groupTourMasterObj.TourStartDate" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-3 mt-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">Tour End Date</span>
                                        <input type="date" data-date=""
                                            [attr.data-date]="groupTourMasterObj.TourEndDate"
                                            data-date-format="dd-MM-YYYY" class="form-control width-190 form-control-sm"
                                            [(ngModel)]="groupTourMasterObj.TourEndDate" />
                                    </div>
                                </div>
                                <div class="col-md-3 mt-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">No of Days</span>
                                        <input [(ngModel)]="groupTourMasterObj.NoofDays" class="form-control"
                                            type="number">
                                    </div>
                                </div>
                                <div class="col-md-3 mt-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">No of Night</span>
                                        <input [(ngModel)]="groupTourMasterObj.NoofNight" class="form-control"
                                            type="number">
                                    </div>
                                </div>
                                <div class="col-md-3 mt-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">No of Participant</span>
                                        <input [(ngModel)]="groupTourMasterObj.NoofParticipent" class="form-control"
                                            type="number">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-3 mt-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">Sales Reference</span>
                                        <select class="form-control"
                                            [(ngModel)]="groupTourMasterObj.SalesReferenceCode">
                                            <option selected value="0">SELECT..</option>
                                            <ng-container *ngFor="let item of salesStaffList; let i = index">
                                                <option value="{{item.EmployeeCode}}">{{item?.FullName}}</option>
                                            </ng-container>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3 mt-3">
                                    <div class="input-group">
                                        <div class="input-group">
                                            <span class="input-group-addon">Is Final Locked</span>
                                            <i *ngIf="groupTourMasterObj?.IsFinalLocked"
                                                (click)="groupTourMasterObj.IsFinalLocked = false"
                                                class="fa fa-check-square-o font-size-35 ml-3  text-success"
                                                aria-hidden="true"></i>
                                            <i *ngIf="! groupTourMasterObj?.IsFinalLocked"
                                                (click)="groupTourMasterObj.IsFinalLocked = true"
                                                class="fa fa-square-o font-size-35 ml-3 text-success"
                                                aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button *ngIf="groupTourMasterObj?.ID == 0" (click)="addEventNew()" type="button"
                    class="btn btn-success"><i class="fa fa-plus"></i>
                    Add Event</button>
                <button *ngIf="groupTourMasterObj?.ID > 0" (click)="updateEventNew()" type="button"
                    class=" btn btn-success ml-2"><i class="fa fa-plus"></i>
                    Update Event</button>

            </div>
        </div>

        <div class="row">
            <!-- Customer Details -->
            <div class="col-sm-5">
                <div class="panel">
                    <div class="panel-heading btn-toggle-collapse">
                        <span><b>Customer(s)</b> </span>
                        <div class="right">
                            <button type="button"><i class="lnr lnr-chevron-up"></i></button>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="btn btn-success" (click)="addCustomerDetailsNew('enter', $event)"><i
                                        class="fa fa-plus" aria-hidden="true"></i>Add NEW
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-fixed">
                            <table class="table table-bordered table-p5 custom-table-hover font-size-11">
                                <thead>
                                    <tr>
                                        <th class="width-19p">Customer</th>
                                        <th class="width-80p">Net Payable</th>
                                        <th class="width-1p">X</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of groupTourCustomerObj; let i = index">
                                        <td class="width-19p">
                                            <ng-select [items]="customerList" bindLabel="CustomerName"
                                                (change)="onCustomerChange($event)" bindValue="CustomerCode"
                                                [(ngModel)]="item.CustomerCode">
                                            </ng-select>

                                        </td>
                                        <td class="width-80p">
                                            <input
                                                class="form-control font-size-20 strong text-left text-success font-weight-bold"
                                                readonly [(ngModel)]="item.NetPayableAmt" class="form-control"
                                                type="number">
                                        </td>
                                        <td class="text-center width-1p" (click)="removeCustomerDetails(i)"> <i
                                                class="fa fa-trash text-danger" aria-hidden="true"></i>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td> <span class="font-size-20 strong text-right text-success font-weight-bold">
                                                Total </span>
                                        </td>
                                        <td>
                                            <span class="font-size-20 strong text-right text-success font-weight-bold">
                                                {{sumofTotalCustomerNetPayableAmount| number:'1.0-0' }}
                                            </span>
                                        <td></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Participant Details-->
            <div class="col-sm-7">
                <div class="panel">
                    <div class="panel-heading btn-toggle-collapse">
                        <span><b>Participant(s)</b> </span>
                        <div class="right">
                            <button type="button"><i class="lnr lnr-chevron-up"></i></button>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="btn btn-success" (click)="addParticipentDetailsNew('enter', $event)"><i
                                        class="fa fa-plus" aria-hidden="true"></i>Add NEW
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-fixed">
                            <table class="table table-bordered table-p5 custom-table-hover font-size-11">
                                <thead>
                                    <tr>
                                        <th class="width-10p">Customer</th>
                                        <th class="width-10p">Name Of Person</th>
                                        <th class="width-10p">Passport No</th>
                                        <th class="width-10p">Is Child</th>
                                        <th class="width-1p">X</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of groupTourParticipentObj; let i = index">
                                        <td>
                                            <ng-select [items]="filtercustomerList" bindLabel="CustomerName"
                                                bindValue="CustomerCode" [(ngModel)]="item.CustomerCode">
                                            </ng-select>

                                        </td>
                                        <td class="width-10p">
                                            <input type="text" [(ngModel)]="item.NameofParticipent"
                                                class="form-control form-control-sm">
                                        </td>
                                        <td class="width-10p">
                                            <input type="text" [(ngModel)]="item.PassportNo"
                                                class="form-control form-control-sm">
                                        </td>
                                        <td class="width-10p">
                                            <div class="input-group">
                                                <i *ngIf="item?.IsChild" (click)="item.IsChild = false"
                                                    class="fa fa-check-square-o font-size-55 ml-3  text-success"
                                                    aria-hidden="true"></i>
                                                <i *ngIf="!item?.IsChild" (click)="item.IsChild = true"
                                                    class="fa fa-square-o font-size-55 ml-3 text-success"
                                                    aria-hidden="true"></i>
                                            </div>
                                        </td>
                                        <td class="text-center" (click)="removeparticipentDetails(i)"> <i
                                                class="fa fa-trash text-danger" aria-hidden="true"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 mt-3">
                <button *ngIf="groupTourMasterObj?.ID == 0" (click)="saveUpdateGroupTour()" type="button"
                    class="btn btn-success"><i class="fa fa-plus"></i>
                    Save</button>
                <button *ngIf="groupTourMasterObj?.ID > 0" (click)="saveUpdateGroupTour()" type="button"
                    class=" btn btn-success ml-2"><i class="fa fa-plus"></i>
                    Update</button>
                <!-- <button *ngIf="groupTourMasterObj?.ID > 0" class=" btn btn-info ml-2"
                        (click)="PrintHotelBooking(hotelBookingObj)">
                        Print
                        <i class="fa fa-print" aria-hidden="true" style="padding: 2px"></i>
                    </button> -->
                <button type="button" (click)="ResetMasterModel()" class="btn btn-info ml-2"><i
                        class="fas fa-redo-alt"></i> Reset</button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="showEvent" class="rightPanel" style="width: 80%;min-width: 500px;">
    <div class="rightPanel-head">
        <span *ngIf="groupTourMasterObj?.ID == 0">
            <i class="fa fa-times-circle fa-close" aria-hidden="true" (click)="showEvent = false"
                title="Close this panel"></i>
            New Event Break Down Panel
        </span>
        <span *ngIf="groupTourMasterObj?.ID > 0">
            <i class="fa fa-times-circle fa-close" aria-hidden="true" (click)="showEvent = false"
                title="Close this panel"></i>
            Update Event Break Down Panel
        </span>
    </div>

    <div class="rightPanel-content">
        <!-- Event Detail -->
        <div class="panel">
            <div class="panel-heading btn-toggle-collapse">
                <span><b>Event Detail</b></span>
                <span (click)="addTourEventDetailsNew('enter', $event)">
                    <i class="fa fa-plus ml-2 text-success" aria-hidden="true"> </i>
                    Add New
                </span>
                <div class="right">
                    <button type="button"><i class="lnr lnr-chevron-up"></i></button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-fixed">
                    <table class="table table-bordered table-p5 custom-table-hover font-size-11">
                        <thead>
                            <tr>
                                <th class="width-10p" style="font-size: 12px;font-weight:bold;">Service</th>
                                <th class="width-10p" style="font-size: 12px;font-weight:bold;">Customer</th>
                                <th class="width-10p" style="font-size: 12px;font-weight:bold;">Name of Participant
                                </th>
                                <th class="width-10p" style="font-size: 12px;font-weight:bold;">Provider</th>
                                <th class="width-10p" style="font-size: 12px;font-weight:bold;">Airlines</th>
                                <th class="width-10p" style="font-size: 12px;font-weight:bold;">Country</th>
                                <th class="width-10p" style="font-size: 12px;font-weight:bold;">Route</th>
                                <th class="width-10p" style="font-size: 12px;font-weight:bold;">Hote Name</th>
                                <th class="width-10p" style="font-size: 12px;font-weight:bold;">Room Type</th>
                                <th class="width-5p" style="font-size: 12px;font-weight:bold;">Card Charge Amt</th>
                                <th class="width-5p" style="font-size: 12px;font-weight:bold;">Main Price</th>
                                <th class="width-5p" style="font-size: 12px;font-weight:bold;">Govt Tax</th>
                                <th class="width-5p" style="font-size: 12px;font-weight:bold;">Commision</th>
                                <th class="width-5p" style="font-size: 12px;font-weight:bold;">Service(%)</th>
                                <th class="width-5p" style="font-size: 12px;font-weight:bold;">Service Charge</th>
                                <th class="width-5p" style="font-size: 12px;font-weight:bold;">Discount</th>
                                <th class="width-5p" style="font-size: 12px;font-weight:bold;">Total Payable Amt.
                                </th>
                                <th class="width-1p">X</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="font-size: 11px;" *ngFor="let item of groupTourEventDetailDTO; let i = index">
                                <td class="width-10p">
                                    <div class="input-group">
                                        <select class="form-control form-control-sm text-right font-size-11"
                                            [(ngModel)]="item.ServiceCode">
                                            <option selected value="0">SELECT</option>
                                            <ng-container *ngFor="let info  of serviceList">
                                                <option value="{{info.ServiceCode}}">
                                                    {{info?.ServiceName}}
                                                </option>
                                            </ng-container>
                                        </select>
                                    </div>
                                </td>
                                <td class="width-10p">
                                    <div class="input-group">
                                        <select class="form-control form-control-sm text-right font-size-9"
                                            (change)="onCustomerChangeForParticipantFilter(item)"
                                            [(ngModel)]="item.CustomerCode">
                                            <option selected value="0">SELECT</option>
                                            <ng-container *ngFor="let info  of filtercustomerList">
                                                <option value="{{info.CustomerCode}}">
                                                    {{info?.CustomerName}}
                                                </option>
                                            </ng-container>
                                        </select>
                                    </div>
                                </td>
                                <td class="width-10p">
                                    <div class="input-group">
                                        <select class="form-control form-control-sm text-right font-size-9"
                                            [(ngModel)]="item.NameofParticipent">
                                            <option selected value="0">SELECT</option>
                                            <ng-container *ngFor="let info  of item?.ParticipantList">
                                                <option value="{{info.NameofParticipent}}">
                                                    {{info?.NameofParticipent}}
                                                </option>
                                            </ng-container>
                                        </select>
                                    </div>
                                </td>
                                <td class="width-10p">
                                    <div class="input-group">
                                        <select class="form-control form-control-sm text-right font-size-9"
                                            [(ngModel)]="item.ProviderCode">
                                            <option selected value="0">SELECT</option>
                                            <ng-container *ngFor="let info  of travelProviderList">
                                                <option value="{{info.ProviderCode}}">
                                                    {{info?.ProviderName}}
                                                </option>
                                            </ng-container>
                                        </select>
                                    </div>
                                </td>
                                <td class="width-10p">
                                    <div class="input-group">
                                        <select class="form-control form-control-sm text-right font-size-9"
                                            [(ngModel)]="item.AirlinesCode">
                                            <option selected value="0">SELECT</option>
                                            <ng-container *ngFor="let info  of airLineList">
                                                <option value="{{info.AirlinesCode}}">
                                                    {{info?.AirlinesName}}
                                                </option>
                                            </ng-container>
                                        </select>
                                    </div>
                                </td>
                                <td class="width-10p">
                                    <div class="input-group">
                                        <select class="form-control form-control-sm text-right font-size-9"
                                            [(ngModel)]="item.CountryCode">
                                            <option selected value="0">SELECT</option>
                                            <ng-container *ngFor="let info  of countryList">
                                                <option value="{{info.CountryCode}}">
                                                    {{info?.CountryName}}
                                                </option>
                                            </ng-container>
                                        </select>
                                    </div>
                                </td>
                                <td class="width-8p">
                                    <input type="text" [(ngModel)]="item.Route" class="form-control">
                                </td>
                                <td class="width-10p">
                                    <input type="text" [(ngModel)]="item.HotelName" class="form-control">
                                </td>
                                <td class="width-10p">
                                    <div class="input-group">
                                        <select class="form-control form-control-sm text-right font-size-9"
                                            [(ngModel)]="item.RoomType">
                                            <option selected value="0">SELECT</option>
                                            <ng-container *ngFor="let info  of roomTypeList">
                                                <option value="{{info.RoomTypeCode}}">
                                                    {{info?.RoomTypeName}}
                                                </option>
                                            </ng-container>
                                        </select>
                                    </div>
                                </td>
                                <td class="width-8p">
                                    <input type="text" (keypress)="isNumberKey($event)" (click)="selectTarget($event)"
                                        [(ngModel)]="item.CardChargeAmount" class="form-control">
                                </td>
                                <td class="width-8p">
                                    <input type="text" (keypress)="isNumberKey($event)" [(ngModel)]="item.MainPrice"
                                        (click)="selectTarget($event)" (input)="CalculateTotalPayableAmount(item)"
                                        class="form-control">
                                </td>
                                <td class="width-8p">
                                    <input type="text" (keypress)="isNumberKey($event)" [(ngModel)]="item.GovtTax"
                                        (click)="selectTarget($event)" (input)="CalculateTotalPayableAmount(item)"
                                        class="form-control">
                                </td>
                                <td class="width-8p">
                                    <input type="text" (keypress)="isNumberKey($event)" [(ngModel)]="item.Commision"
                                        (click)="selectTarget($event)" class="form-control">
                                </td>
                                <td class="width-5p">
                                    <input type="text" (keypress)="isNumberKey($event)"
                                        (keyup.enter)="addTourEventDetailsNew('enter', $event)"
                                        (input)="CalculateServiceChargeValue(item)" [(ngModel)]="item.ServiceParcent"
                                        (click)="selectTarget($event)" class="form-control">
                                </td>
                                <td class="width-5p">
                                    <input type="text" (keypress)="isNumberKey($event)"
                                        (input)="CalculateServicePertageValue(item)"
                                        (keyup.enter)="addTourEventDetailsNew('enter', $event)"
                                        (click)="selectTarget($event)" [(ngModel)]="item.ServiceCharge"
                                        class="form-control">
                                </td>
                                <td class="width-5p">
                                    <input type="text" (keypress)="isNumberKey($event)" [(ngModel)]="item.Discount"
                                        (input)="CalculateTotalPayableAmount(item)" (click)="selectTarget($event)"
                                        (keyup.enter)="addTourEventDetailsNew('enter', $event)" class="form-control">
                                </td>
                                <td class="width-10p">
                                    <input readonly type="text" (keypress)="isNumberKey($event)"
                                        [(ngModel)]="item.TotalPayableamt" class="form-control">
                                </td>
                                <td (click)="removeTourEventDetails(i)"> <i class="fa fa-trash text-danger"
                                        aria-hidden="true"></i>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td><b>Total </b> </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <span class="font-size-20 strong text-right text-success font-weight-bold">
                                        {{sumTotalDetailsAmt| number:'1.0-0' }}
                                    </span>
                                </td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <div class="rightPanel-footer">
        <button *ngIf="groupTourMasterObj?.ID == 0" class="btn btn-success pull-left ml-2"
            (click)="saveUpdateTourEventDetails()">
            <i class="fa fa-floppy-o" aria-hidden="true"></i>
            Save
        </button>
        <button *ngIf="groupTourMasterObj?.ID > 0" class=" btn btn-success pull-left ml-2"
            (click)="saveUpdateTourEventDetails()"><i class="fa fa-plus"></i>
            Update
        </button>
        <button (click)="ResetEventDetailsModel()" class="btn btn-info pull-left ml-2"><i class="fas fa-redo-alt"></i>
            Reset</button>
    </div>
</div>

<div *ngIf="showCancellationForm" class="rightPanel" style="width: 60%;min-width: 500px;">
    <div class="rightPanel-head">
        <span>
            <i class="fa fa-times-circle fa-close" aria-hidden="true" (click)="showCancellationForm = false"
                title="Close this panel"></i>
            Event Cancellation
        </span>
    </div>
    <div class="rightPanel-content">
        <!-- Event Detail -->
        <div class="row">
            <div class="col-md-12">
                <div class="table-fixed">
                    <table class="table table-bordered table-p5 custom-table-hover font-size-11">
                        <thead>
                            <tr>
                                <th class="width-15" style="font-size: 12px;font-weight:bold;">Service</th>
                                <th class="width-15" style="font-size: 12px;font-weight:bold;">Customer</th>
                                <th class="width-15" style="font-size: 12px;font-weight:bold;">Name of Participant
                                </th>
                                <th class="width-5p" style="font-size: 12px;font-weight:bold;">Card Charge Amt</th>
                                <th class="width-5p" style="font-size: 12px;font-weight:bold;">Main Price</th>
                                <th class="width-5p" style="font-size: 12px;font-weight:bold;">Govt Tax</th>
                                <th class="width-5p" style="font-size: 12px;font-weight:bold;">Commision</th>
                                <th class="width-5p" style="font-size: 12px;font-weight:bold;">Service Charge</th>
                                <th class="width-5p" style="font-size: 12px;font-weight:bold;">Discount</th>
                                <th class="width-5p" style="font-size: 12px;font-weight:bold;">isCancel</th>
                                <th class="width-5p" style="font-size: 12px;font-weight:bold;">Cancellation Amount</th>
                                <th class="width-5p" style="font-size: 12px;font-weight:bold;">Total Payable Amt.
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="font-size-12" *ngFor="let item of groupTourEventDetailDTO">
                                <td>
                                    <input readonly [(ngModel)]="item.ServiceCode" class="form-control">
                                </td>
                                <td>
                                    <input readonly [(ngModel)]="item.CustomerCode" class="form-control">
                                </td>
                                <td>
                                    <input readonly [(ngModel)]="item.NameofParticipent" class="form-control">
                                </td>
                                <td>
                                    <input readonly [(ngModel)]="item.CardChargeAmount" class="form-control">
                                </td>
                                <td>
                                    <input readonly [(ngModel)]="item.MainPrice" class="form-control">
                                </td>
                                <td>
                                    <input readonly [(ngModel)]="item.GovtTax" class="form-control">
                                </td>
                                <td>
                                    <input readonly [(ngModel)]="item.Commision" class="form-control">
                                </td>
                                <td>
                                    <input readonly [(ngModel)]="item.ServiceCharge" class="form-control">
                                </td>
                                <td>
                                    <input readonly [(ngModel)]="item.Discount" class="form-control">
                                </td>
                                <td>
                                    <div class="input-group">
                                        <i *ngIf="item?.IsCancel" (click)="isUnCheckCancel(item)"
                                            class="fa fa-check-square-o font-size-35 ml-3  text-success"
                                            aria-hidden="true"></i>
                                        <i *ngIf="! item?.IsCancel" (click)="isCheckCancel(item)"
                                            class="fa fa-square-o font-size-35 ml-3 text-success"
                                            aria-hidden="true"></i>
                                    </div>
                                </td>
                                <td>
                                    <input class="width-10p" type="text" class="form-control form-control-sm text-right"
                                        [(ngModel)]="item.CancelationCharge" (keypress)="isNumberKey($event)"
                                        (input)="CalculateCancelationCharge(item)" (click)="selectTarget($event)"
                                        [disabled]="! item?.IsCancel">
                                </td>
                                <td>
                                    <input readonly [(ngModel)]="item.TotalPayableamt" class="form-control">
                                </td>

                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td> 
                                <td></td> 
                                <td>
                                    <span class="font-size-20 strong text-right text-success font-weight-bold">
                                        TOTAL
                                    </span>
                                </td>
                                <td></td>
                                <td></td> 
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td> <span class="font-size-20 strong text-right text-success font-weight-bold">
                                        {{sumTotalDetailsAmt| number:'1.0-0' }}
                                    </span>

                                </td>
                            </tr>
                        </tfoot>

                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="rightPanel-footer">
        <button class=" btn btn-success pull-left ml-2" (click)="UpdateForCancellation()"><i class="fa fa-plus"></i>
            Update
        </button>
    </div>
</div>