<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home" aria-hidden="true"></i> </li>
        <li class="breadcrumb-item active">Client</li>
        <li class="breadcrumb-item active">Business</li>
        <li class="breadcrumb-item active">Travel</li>
        <li class="breadcrumb-item active">Transaction</li>
        <li class="breadcrumb-item active">Group</li>
        <li class="breadcrumb-item active">Tour</li>
    </ol>
</nav>
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" class="hoverlink" href="#GroupTourList" id="GroupTourList_tab">Group Tour
            List</a></li>
    <li><a data-toggle="tab" class="hoverlink" href="#GroupTourEntry" id="GroupTourEntry_tab">Group Tour Entry</a></li>

</ul>
<div class="tab-content" style="background-color: white;">
    <!-- TAB LIST ; 1st TAB-->
    <div id="GroupTourList" class="tab-pane fade in active">
        <div class="panel">
            <div class="panel-body">
                <div class="table-fixed">
                    <table class="table table-bordered table-p5 custom-table-hover">
                        <thead>
                            <tr>
                                <th colspan="12"> </th>
                            </tr>
                            <tr>
                                <th class="width-1p text-center">SN#</th>
                                <th class="width-15p text-left">Code | Tour Date</th>
                                <th class="width-2p text-center">No of Person</th>
                                <th class="width-15p text-center">Customer | Company</th>
                                <th class="width-15p text-center">Package </th>
                                <th class="width-10p text-center">Currency</th>
                                <th class="width-1p text-center">Service Charge</th>
                                <th class="width-15p text-center">Card </th>
                                <th class="width-10p text-center">Sales Reference</th>
                                <th class="width-2p text-center">Remarks</th>
                                <th class="width-1p text-center">Status</th>
                                <th class="width-2p text-center">Action</th>
                            </tr>
                        </thead>

                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- TAB Entry ; 2nd TAB-->
    <div id="GroupTourEntry" class="tab-panel fade">
        <div class="tab-panel fade in active">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel">
                        <div class="panel-heading btn-toggle-collapse">
                            <span><b>Master</b> </span>
                            <div class="right">
                                <button type="button"><i class="lnr lnr-chevron-up"></i></button>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12  mt-3">
                                    <div class="col-md-3 mt-3">
                                        <div class="input-group">
                                            <span class="input-group-addon">Transaction Code</span>
                                            <input readonly [(ngModel)]="groupTourMasterObj.TransactionCode"
                                                class="form-control" type="text">
                                        </div>
                                    </div>
                                    <div class="col-md-3 mt-3">
                                        <div class="input-group">
                                            <span class="input-group-addon">Transaction Date</span>
                                            <input type="date" data-date=""
                                                [attr.data-date]="groupTourMasterObj.TransactionDate"
                                                data-date-format="dd-MM-YYYY"
                                                class="form-control width-190 form-control-sm"
                                                [(ngModel)]="groupTourMasterObj.TransactionDate" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 mt-3">
                                        <div class="input-group">
                                            <span class="input-group-addon">Tour Name</span>
                                            <input [(ngModel)]="groupTourMasterObj.TourName" class="form-control"
                                                type="text">
                                        </div>
                                    </div>
                                    <div class="col-md-3 mt-3">
                                        <div class="input-group">
                                            <span class="input-group-addon">Tour Start Date</span>
                                            <input type="date" data-date=""
                                                [attr.data-date]="groupTourMasterObj.TourStartDate"
                                                data-date-format="dd-MM-YYYY"
                                                class="form-control width-190 form-control-sm"
                                                [(ngModel)]="groupTourMasterObj.TourStartDate" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-3 mt-3">
                                        <div class="input-group">
                                            <span class="input-group-addon">Tour End Date</span>
                                            <input type="date" data-date=""
                                                [attr.data-date]="groupTourMasterObj.TourEndDate"
                                                data-date-format="dd-MM-YYYY"
                                                class="form-control width-190 form-control-sm"
                                                [(ngModel)]="groupTourMasterObj.TourEndDate" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 mt-3">
                                        <div class="input-group">
                                            <span class="input-group-addon">No of Days</span>
                                            <input [(ngModel)]="groupTourMasterObj.NoofDays" class="form-control"
                                                type="number">
                                        </div>
                                    </div>
                                    <div class="col-md-3 mt-3">
                                        <div class="input-group">
                                            <span class="input-group-addon">No of Night</span>
                                            <input [(ngModel)]="groupTourMasterObj.NoofNight" class="form-control"
                                                type="number">
                                        </div>
                                    </div>
                                    <div class="col-md-3 mt-3">
                                        <div class="input-group">
                                            <span class="input-group-addon">No of Participent</span>
                                            <input [(ngModel)]="groupTourMasterObj.NoofParticipent" class="form-control"
                                                type="number">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-3 mt-3">
                                        <div class="input-group">
                                            <span class="input-group-addon">Sales Reference</span>
                                            <select class="form-control"
                                                [(ngModel)]="groupTourMasterObj.SalesReferenceCode">
                                                <option selected value="0">SELECT..</option>
                                                <ng-container *ngFor="let item of salesStaffList; let i = index">
                                                    <option value="{{item.EmployeeCode}}">{{item?.FullName}}</option>
                                                </ng-container>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mt-3">
                                        <div class="input-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">Is Final Locked</span>
                                                <i *ngIf="groupTourMasterObj?.IsFinalLocked"
                                                    (click)="groupTourMasterObj.IsFinalLocked = false"
                                                    class="fa fa-check-square-o font-size-35 ml-3  text-success"
                                                    aria-hidden="true"></i>
                                                <i *ngIf="! groupTourMasterObj?.IsFinalLocked"
                                                    (click)="groupTourMasterObj.IsFinalLocked = true"
                                                    class="fa fa-square-o font-size-35 ml-3 text-success"
                                                    aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- <div class="btn btn-success" (click)="addEventNew()"><i class="fa fa-plus"
                            aria-hidden="true"></i>Add Event
                    </div> -->
                    <button *ngIf="groupTourMasterObj?.ID == 0" (click)="addEventNew()" type="button"
                        class="btn btn-success"><i class="fa fa-plus"></i>
                        Add Event</button>
                    <button *ngIf="groupTourMasterObj?.ID > 0" type="button" class=" btn btn-success ml-2"><i
                            class="fa fa-plus"></i>
                        Update Event</button>

                </div>
            </div>

            <div class="row">
                <!-- Customer Details -->
                <div class="col-sm-4">
                    <div class="panel">
                        <div class="panel-heading btn-toggle-collapse">
                            <span><b>Customer(s)</b> </span>
                            <div class="right">
                                <button type="button"><i class="lnr lnr-chevron-up"></i></button>
                            </div>
                        </div>
                        <div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="btn btn-success" (click)="addCustomerDetailsNew('enter', $event)"><i
                                            class="fa fa-plus" aria-hidden="true"></i>Add NEW
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-bordered table-p5 custom-table-hover font-size-11">
                                <thead>
                                    <tr>
                                        <th class="width-19p">Customer</th>
                                        <th class="width-80p">Net Payable</th>
                                        <th class="width-1p">X</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of groupTourCustomerObj; let i = index">
                                        <td class="width-19p">
                                            <ng-select [items]="customerList" bindLabel="CustomerName"
                                                (change)="onCustomerChange($event)" bindValue="CustomerCode"
                                                [(ngModel)]="item.CustomerCode">
                                            </ng-select>

                                        </td>
                                        <td class="width-80p">
                                            <input
                                                class="form-control font-size-20 strong text-left text-success font-weight-bold"
                                                readonly [(ngModel)]="item.NetPayableAmt" class="form-control"
                                                type="number">
                                        </td>
                                        <td class="text-center width-1p" (click)="removeCustomerDetails(i)"> <i
                                                class="fa fa-trash text-danger" aria-hidden="true"></i>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td>Total</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- Participent Details-->
                <div class="col-sm-8">
                    <div class="panel">
                        <div class="panel-heading btn-toggle-collapse">
                            <span><b>Participent(s)</b> </span>
                            <div class="right">
                                <button type="button"><i class="lnr lnr-chevron-up"></i></button>
                            </div>
                        </div>
                        <div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="btn btn-success" (click)="addParticipentDetailsNew('enter', $event)"><i
                                            class="fa fa-plus" aria-hidden="true"></i>Add NEW
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-bordered table-p5 custom-table-hover font-size-11">
                                <thead>
                                    <tr>
                                        <th class="width-10p">Customer</th>
                                        <th class="width-10p">Name Of Person</th>
                                        <th class="width-10p">Passport No</th>
                                        <th class="width-10p">Is Child</th>
                                        <th class="width-1p">X</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of groupTourParticipentObj; let i = index">
                                        <td>
                                            <ng-select [items]="filtercustomerList" bindLabel="CustomerName"
                                                bindValue="CustomerCode" [(ngModel)]="item.CustomerCode">
                                            </ng-select>

                                        </td>
                                        <td class="width-10p">
                                            <input type="text" [(ngModel)]="item.NameofParticipent"
                                                class="form-control form-control-sm">
                                        </td>
                                        <td class="width-10p">
                                            <input type="text" [(ngModel)]="item.PassportNo"
                                                class="form-control form-control-sm">
                                        </td>
                                        <td class="width-10p">
                                            <div class="input-group">
                                                <i *ngIf="item?.IsChild" (click)="item.IsChild = false"
                                                    class="fa fa-check-square-o font-size-55 ml-3  text-success"
                                                    aria-hidden="true"></i>
                                                <i *ngIf="!item?.IsChild" (click)="item.IsChild = true"
                                                    class="fa fa-square-o font-size-55 ml-3 text-success"
                                                    aria-hidden="true"></i>
                                            </div>
                                        </td>
                                        <td class="text-center" (click)="removeparticipentDetails(i)"> <i
                                                class="fa fa-trash text-danger" aria-hidden="true"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="showEvent" class="rightPanel" style="width: 60%;min-width: 500px;">
        <div class="rightPanel-head">
            <span *ngIf="groupTourMasterObj?.ID == 0">
                <i class="fa fa-times-circle fa-close" aria-hidden="true" (click)="showEvent = false"
                    title="Close this panel"></i>
                New Event Break Down Panel
            </span>
            <span *ngIf="groupTourMasterObj?.ID > 0">
                <i class="fa fa-times-circle fa-close" aria-hidden="true" (click)="showEvent = false"
                    title="Close this panel"></i>
                Update Event Break Down Panel
            </span>
        </div>

        <div class="rightPanel-content">
            <!-- Visa -->
            <div class="panel">
                <div class="panel-heading btn-toggle-collapse">
                    <span><b>Visa</b> </span>
                    <span (click)="addVisaDetailsNew('enter', $event)">
                        <i class="fa fa-plus ml-2 text-success" aria-hidden="true"> </i>
                        Add New
                    </span>
                    <div class="right">
                        <button type="button"><i class="lnr lnr-chevron-up"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-fixed">
                    <table class="table table-bordered table-p5 custom-table-hover font-size-9">
                        <thead>
                            <tr>
                                <th class="width-15p">Customer</th>
                                <th class="width-20p">Name of Participent</th>
                                <th class="width-15p">Country</th>
                                <th class="width-8p">Main Price</th>
                                <th class="width-5p">Service %</th>
                                <th class="width-5p">ServiceCharge</th>
                                <th class="width-5p">Discount</th>
                                <th class="width-10p">TotalPayableamt</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of groupTourVisaObj; let i = index">
                                <td class="width-15p">
                                    <div class="input-group">
                                        <select class="form-control" [(ngModel)]="item.CustomerCode">
                                            <option selected value="0">SELECT</option>
                                            <ng-container *ngFor="let info  of filtercustomerList">
                                                <option value="{{info.CustomerCode}}">
                                                    {{info?.CustomerName}}
                                                </option>
                                            </ng-container>
                                        </select>
                                    </div>
                                </td>
                                <td class="width-20p">
                                    <input [(ngModel)]="item.NameofParticipent" class="form-control">
                                </td>
                                <td class="width-15p">
                                    <div class="input-group">
                                        <select class="form-control form-control-sm text-right font-size-11"
                                            [(ngModel)]="item.CountryCode">
                                            <option selected value="0">SELECT</option>
                                            <ng-container *ngFor="let info  of countryList">
                                                <option value="{{info.CountryCode}}">
                                                    {{info?.CountryName}}
                                                </option>
                                            </ng-container>
                                        </select>
                                    </div>
                                </td>
                                <td class="width-8p">
                                    <input type="text" (keypress)="isNumberKey($event)" [(ngModel)]="item.MainPrice"
                                        class="form-control">
                                </td>
                                <td class="width-5p">
                                    <input type="text" (keypress)="isNumberKey($event)"
                                        (keyup.enter)="addVisaDetailsNew('enter', $event)"
                                        [(ngModel)]="item.ServiceParcent" class="form-control">
                                </td>
                                <td class="width-5p">
                                    <input type="text" (keypress)="isNumberKey($event)"
                                        (keyup.enter)="addVisaDetailsNew('enter', $event)"
                                        [(ngModel)]="item.ServiceCharge" class="form-control">
                                </td>
                                <td class="width-5p">
                                    <input type="text" (keypress)="isNumberKey($event)" [(ngModel)]="item.Discount"
                                        (keyup.enter)="addVisaDetailsNew('enter', $event)" class="form-control">
                                </td>
                                <td class="width-10p">
                                    <input readonly type="text" (keypress)="isNumberKey($event)"
                                        [(ngModel)]="item.TotalPayableamt" class="form-control">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Air Ticket -->
        <div class="panel">
            <div class="panel-heading btn-toggle-collapse">
                <span><b>Air Ticket</b></span>
                <span (click)="addAirticketDetailsNew('enter', $event)">
                    <i class="fa fa-plus ml-2 text-success" aria-hidden="true"> </i>
                    Add New
                </span>
                <div class="right">
                    <button type="button"><i class="lnr lnr-chevron-up"></i></button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-fixed">
                    <table class="table table-bordered table-p5 custom-table-hover font-size-11">
                        <thead>
                            <tr>
                                <th class="width-10p">Customer</th>
                                <th class="width-10p">Name of Participent</th>
                                <th class="width-10p">Provider</th>
                                <th class="width-10p">Airlines</th>
                                <th class="width-10p">Route</th>
                                <th class="width-5p">Main Price</th>
                                <th class="width-5p">Govt Tax</th>
                                <th class="width-5p">Commision</th>
                                <th class="width-5p">Service(%)</th>
                                <th class="width-5p">Service Charge</th>
                                <th class="width-5p">Discount</th>
                                <th class="width-5p">Total Payable Amt.</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of groupTourAirticketObj; let i = index">
                                <td class="width-15p">
                                    <div class="input-group">
                                        <select class="form-control" [(ngModel)]="item.CustomerCode">
                                            <option selected value="0">SELECT</option>
                                            <ng-container *ngFor="let info  of filtercustomerList">
                                                <option value="{{info.CustomerCode}}">
                                                    {{info?.CustomerName}}
                                                </option>
                                            </ng-container>
                                        </select>
                                    </div>
                                </td>
                                <td class="width-20p">
                                    <input [(ngModel)]="item.NameofParticipent" class="form-control">
                                </td>
                                <td class="width-15p">
                                    <div class="input-group">
                                        <select class="form-control" [(ngModel)]="item.ProviderCode">
                                            <option selected value="0">SELECT</option>
                                            <ng-container *ngFor="let info  of travelProviderList">
                                                <option value="{{info.ProviderCode}}">
                                                    {{info?.ProviderName}}
                                                </option>
                                            </ng-container>
                                        </select>
                                    </div>
                                </td>
                                <td class="width-15p">
                                    <div class="input-group">
                                        <select class="form-control" [(ngModel)]="item.AirlinesCode">
                                            <option selected value="0">SELECT</option>
                                            <ng-container *ngFor="let info  of airLineList">
                                                <option value="{{info.AirlinesCode}}">
                                                    {{info?.AirlinesName}}
                                                </option>
                                            </ng-container>
                                        </select>
                                    </div>
                                </td>
                                <td class="width-8p">
                                    <input type="text" [(ngModel)]="item.Route" class="form-control">
                                </td>
                                <td class="width-8p">
                                    <input type="text" (keypress)="isNumberKey($event)" [(ngModel)]="item.MainPrice"
                                        class="form-control">
                                </td>
                                <td class="width-8p">
                                    <input type="text" (keypress)="isNumberKey($event)" [(ngModel)]="item.GovtTax"
                                        class="form-control">
                                </td>
                                <td class="width-8p">
                                    <input type="text" (keypress)="isNumberKey($event)" [(ngModel)]="item.Commision"
                                        class="form-control">
                                </td>
                                <td class="width-5p">
                                    <input type="text" (keypress)="isNumberKey($event)"
                                        (keyup.enter)="addAirticketDetailsNew('enter', $event)"
                                        [(ngModel)]="item.ServiceParcent" class="form-control">
                                </td>
                                <td class="width-5p">
                                    <input type="text" (keypress)="isNumberKey($event)"
                                        (keyup.enter)="addAirticketDetailsNew('enter', $event)"
                                        [(ngModel)]="item.ServiceCharge" class="form-control">
                                </td>
                                <td class="width-5p">
                                    <input type="text" (keypress)="isNumberKey($event)" [(ngModel)]="item.Discount"
                                        (keyup.enter)="addAirticketDetailsNew('enter', $event)" class="form-control">
                                </td>
                                <td class="width-10p">
                                    <input readonly type="text" (keypress)="isNumberKey($event)"
                                        [(ngModel)]="item.TotalPayableamt" class="form-control">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Hotel Booking  -->
        <div class="panel">
            <div class="panel-heading btn-toggle-collapse">
                <span><b>Hotel Booking</b> </span>
                <span (click)="addhotelBookingDetailsNew('enter', $event)">
                    <i class="fa fa-plus ml-2 text-success" aria-hidden="true"> </i>
                    Add New
                </span>
                <div class="right">
                    <button type="button"><i class="lnr lnr-chevron-up"></i></button>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-fixed">
                    <table class="table table-bordered table-p5 custom-table-hover font-size-11">
                        <thead>
                            <tr>
                                <th class="width-10p">Customer</th>
                                <th class="width-10p">Name of Participent</th>
                                <th class="width-10p">Hotel Name</th>
                                <th class="width-10p">Provider</th> 
                                <th class="width-10p">RoomType</th>
                                <th class="width-5p">Main Price</th>
                                <th class="width-5p">Service(%)</th>
                                <th class="width-5p">Service Charge</th>
                                <th class="width-5p">Discount</th> 
                                <th class="width-5p">Total Payable Amt.</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of groupTourHotelBookingObj; let i = index">
                                <td class="width-15p">
                                    <div class="input-group">
                                        <select class="form-control" [(ngModel)]="item.CustomerCode">
                                            <option selected value="0">SELECT</option>
                                            <ng-container *ngFor="let info  of filtercustomerList">
                                                <option value="{{info.CustomerCode}}">
                                                    {{info?.CustomerName}}
                                                </option>
                                            </ng-container>
                                        </select>
                                    </div>
                                </td>
                                <td class="width-20p">
                                    <input [(ngModel)]="item.NameofParticipent" class="form-control">
                                </td>
                                <td class="width-20p">
                                    <input [(ngModel)]="item.HotelName" class="form-control">
                                </td>
                                <td class="width-15p">
                                    <div class="input-group">
                                        <select class="form-control" [(ngModel)]="item.ProviderCode">
                                            <option selected value="0">SELECT</option>
                                            <ng-container *ngFor="let info  of travelProviderList">
                                                <option value="{{info.ProviderCode}}">
                                                    {{info?.ProviderName}}
                                                </option>
                                            </ng-container>
                                        </select>
                                    </div>
                                </td> 
                                <td class="width-15p">
                                    <div class="input-group">
                                        <select
                                            class="form-control form-control-sm text-right font-size-11"
                                            [(ngModel)]="item.RoomType">
                                            <option selected value="0">SELECT</option>
                                            <ng-container *ngFor="let info  of roomTypeList">
                                                <option value="{{info.RoomTypeCode}}">
                                                    {{info?.RoomTypeName}}
                                            </ng-container>
                                        </select>
                                    </div>
                                </td>
                                <td class="width-8p">
                                    <input type="text" (keypress)="isNumberKey($event)" [(ngModel)]="item.MainPrice"
                                        class="form-control">
                                </td>
                                <td class="width-5p">
                                    <input type="text" (keypress)="isNumberKey($event)"
                                        (keyup.enter)="addhotelBookingDetailsNew('enter', $event)"
                                        [(ngModel)]="item.ServiceParcent" class="form-control">
                                </td>
                                <td class="width-5p">
                                    <input type="text" (keypress)="isNumberKey($event)"
                                        (keyup.enter)="addhotelBookingDetailsNew('enter', $event)"
                                        [(ngModel)]="item.ServiceCharge" class="form-control">
                                </td>
                                <td class="width-5p">
                                    <input type="text" (keypress)="isNumberKey($event)" [(ngModel)]="item.Discount"
                                        (keyup.enter)="addhotelBookingDetailsNew('enter', $event)" class="form-control">
                                </td>
                                <td class="width-10p">
                                    <input readonly type="text" (keypress)="isNumberKey($event)"
                                        [(ngModel)]="item.TotalPayableamt" class="form-control">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Tour Total Package -->
        <div class="panel">
            <div class="panel-heading btn-toggle-collapse">
                <span><b>Tour Package</b> </span>
                <span (click)="addTourPackageDetailsNew('enter', $event)">
                    <i class="fa fa-plus ml-2 text-success" aria-hidden="true"> </i>
                    Add New
                </span>
                <div class="right">
                    <button type="button"><i class="lnr lnr-chevron-up"></i></button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-fixed">
                    <table class="table table-bordered table-p5 custom-table-hover font-size-11">
                        <thead>
                            <tr>
                                <th class="width-10p">Customer</th>
                                <th class="width-10p">Provider</th> 
                                <th class="width-5p">Main Price</th>
                                <th class="width-5p">Service(%)</th>
                                <th class="width-5p">Service Charge</th>
                                <th class="width-5p">Discount</th> 
                                <th class="width-5p">Total Payable Amt.</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of groupTourTotalPackageObj; let i = index">
                                <td class="width-15p">
                                    <div class="input-group">
                                        <select class="form-control" [(ngModel)]="item.CustomerCode">
                                            <option selected value="0">SELECT</option>
                                            <ng-container *ngFor="let info  of filtercustomerList">
                                                <option value="{{info.CustomerCode}}">
                                                    {{info?.CustomerName}}
                                                </option>
                                            </ng-container>
                                        </select>
                                    </div>
                                </td>  
                                <td class="width-15p">
                                    <div class="input-group">
                                        <select class="form-control" [(ngModel)]="item.ProviderCode">
                                            <option selected value="0">SELECT</option>
                                            <ng-container *ngFor="let info  of travelProviderList">
                                                <option value="{{info.ProviderCode}}">
                                                    {{info?.ProviderName}}
                                                </option>
                                            </ng-container>
                                        </select>
                                    </div>
                                </td>  
                                <td class="width-8p">
                                    <input type="text" (keypress)="isNumberKey($event)" [(ngModel)]="item.MainPrice"
                                        class="form-control">
                                </td>
                                <td class="width-5p">
                                    <input type="text" (keypress)="isNumberKey($event)"
                                        (keyup.enter)="addTourPackageDetailsNew('enter', $event)"
                                        [(ngModel)]="item.ServiceParcent" class="form-control">
                                </td>
                                <td class="width-5p">
                                    <input type="text" (keypress)="isNumberKey($event)"
                                        (keyup.enter)="addTourPackageDetailsNew('enter', $event)"
                                        [(ngModel)]="item.ServiceCharge" class="form-control">
                                </td>
                                <td class="width-5p">
                                    <input type="text" (keypress)="isNumberKey($event)" [(ngModel)]="item.Discount"
                                        (keyup.enter)="addTourPackageDetailsNew('enter', $event)" class="form-control">
                                </td>
                                <td class="width-10p">
                                    <input readonly type="text" (keypress)="isNumberKey($event)"
                                        [(ngModel)]="item.TotalPayableamt" class="form-control">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="rightPanel-footer">
        <!-- <button class="btnLPL btnLPL-success pull-left ml-2">
                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                Save</button> -->
    </div>
</div>