<div id="sidebar-nav" class="sidebar">
    <div class="sidebar-scroll">
        <nav>
            <ul class="nav">

                <ng-container  *ngFor="let item of MenuList; let i=index">
                
                    <li *ngIf="item.ChildMenuList.length == 0" (click)="navTo(item?.ParentMenu)" class="selectHover">
                        <a [class.selecedItem]="item?.ParentMenu.IsSelected">
                            <i [class.selecedItemIconColor]="item?.ParentMenu.IsSelected" class="lnr lnr-menu-circle"></i> 
                            <span>{{item?.ParentMenu.MenuNameEng}}</span>
                        </a>
                    </li>
                    
                    <li *ngIf="item.ChildMenuList.length > 0" class="hoverPointer">
                        <a href="#subPages{{item?.ParentMenu.ID}}" data-toggle="collapse" class="collapsed">
                            <i class="lnr lnr-list"></i>
                            <span>{{item?.ParentMenu.MenuNameEng}}</span> 
                            <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                        
                        <div id="subPages{{item?.ParentMenu.ID}}" class="collapse ">
                            <ul class="nav">
                                <li class="selectHover" *ngFor="let SubItem of item.ChildMenuList; let j=index">
                                    <a  (click)="navTo(SubItem)" [class.selecedItem]="SubItem?.IsSelected">
                                        <i [class.selecedItemIconColor]="SubItem?.IsSelected" class="lnr lnr-file-empty"></i> 
                                        <span>{{SubItem?.MenuNameEng}}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ng-container>

                <!-- <li><a href="index.html" class=""><i class="lnr lnr-home"></i> <span>Dashboard</span></a></li>
                <li><a href="elements.html" class=""><i class="lnr lnr-code"></i> <span>Elements</span></a></li>
                <li><a href="charts.html" class=""><i class="lnr lnr-chart-bars"></i> <span>Charts</span></a></li>
                <li><a href="panels.html" class="active"><i class="lnr lnr-cog"></i> <span>Panels</span></a></li>
                <li><a href="notifications.html" class=""><i class="lnr lnr-alarm"></i> <span>Notifications</span></a></li>
                <li>
                    <a href="#subPages" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i> <span>Pages</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                    <div id="subPages" class="collapse ">
                        <ul class="nav">
                            <li><a href="page-profile.html" class="">Profile</a></li>
                            <li><a href="page-login.html" class="">Login</a></li>
                            <li><a href="page-lockscreen.html" class="">Lockscreen</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="tables.html" class=""><i class="lnr lnr-dice"></i> <span>Tables</span></a></li>
                <li><a href="typography.html" class=""><i class="lnr lnr-text-format"></i> <span>Typography</span></a></li>
                <li><a href="icons.html" class=""><i class="lnr lnr-linearicons"></i> <span>Icons</span></a></li> -->
            </ul>
        </nav>
    </div>
</div>
