<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home" aria-hidden="true"></i> </li>
        <li class="breadcrumb-item active">Client</li>
        <li class="breadcrumb-item active">Business</li>
        <li class="breadcrumb-item active">Travel</li>
        <li class="breadcrumb-item active">Cusomer</li>
    </ol>
</nav>
<div class="tab-content" style="background-color: white;">
    <div class="tab-pane fade in active">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel">
                    <div class="panel-heading btn-toggle-collapse">
                        <span><b>Customer Entry</b> </span>
                        <div class="right">
                            <button type="button"><i class="lnr lnr-chevron-up"></i></button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">Customer Code</span>
                                        <input [(ngModel)]="customerObj.CustomerCode" class="form-control" type="text"
                                            readonly>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">Customer Type</span>
                                        <select class="form-control" [(ngModel)]="customerObj.CustomerTypeCode">
                                            <option value="0">SELECT..</option>
                                            <ng-container *ngFor="let item of customerTypeList; let i = index">
                                                <option value="{{item.TypeCode}}">{{item?.TypeName}}</option>
                                            </ng-container>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">Customer Name</span>
                                        <input [(ngModel)]="customerObj.CustomerName" class="form-control"
                                            placeholder="Customer Name" type="text">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">Mobile No</span>
                                        <input [(ngModel)]="customerObj.MobileNo" class="form-control"
                                            placeholder="Mobile No" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-3 mt-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">Address</span>
                                        <textarea [(ngModel)]="customerObj.CustomerAddress" class="form-control"
                                            rows="3"></textarea>
                                    </div>
                                </div>

                                <div class="col-md-3 mt-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">EmergencyNo</span>
                                        <input [(ngModel)]="customerObj.EmergencyNo" class="form-control"
                                            placeholder="Emergency No" type="text">
                                    </div>
                                </div>
                                <div class="col-md-3 mt-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">Email</span>
                                        <input [(ngModel)]="customerObj.Email" class="form-control" placeholder="Email"
                                            type="email">
                                    </div>
                                </div>
                                <div class="col-md-3  mt-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">Contact Persion</span>
                                        <input [(ngModel)]="customerObj.ContactPersion" class="form-control"
                                            placeholder="Contact Persion" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-3  mt-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">Remarks</span>
                                        <textarea [(ngModel)]="customerObj.Remarks" class="form-control"
                                            rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-3  mt-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">NID</span>
                                        <input [(ngModel)]="customerObj.NID" class="form-control" placeholder="NID"
                                            type="text">
                                    </div>
                                </div>
                                <div class="col-md-3  mt-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">Passport</span>
                                        <input [(ngModel)]="customerObj.Passport" class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-md-3 mt-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">Is Active:</span>
                                        <i *ngIf="customerObj?.isActive" (click)="customerObj.isActive = false"
                                            class="fa fa-check-square-o font-size-35 ml-3  text-success"
                                            aria-hidden="true"></i>
                                        <i *ngIf="! customerObj?.isActive" (click)="customerObj.isActive = true"
                                            class="fa fa-square-o font-size-35 ml-3 text-success"
                                            aria-hidden="true"></i>
                                    </div>
                                </div>

                            </div>
                        </div> 
                        <!-- ----------------------------------- -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-3 mt-3">
                                    <button *ngIf="customerObj?.ID == 0" (click)="saveCustomer()" type="button"
                                        class="btn btn-success"><i class="fa fa-plus"></i> Save</button>
                                    <button *ngIf="customerObj?.ID > 0" (click)="saveCustomer()" type="button"
                                        class=" btn btn-success ml-2"><i class="fa fa-plus"></i> Update</button>
                                    <button type="button" (click)="ResetModel()" class="btn btn-info ml-2"><i
                                            class="fas fa-redo-alt"></i> Reset</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- --list -->
                <div class="panel">
                    <div class="panel-heading">
                        <span class="hoverlink" (click)="getCustomerList()"><b>Customer List</b> <i
                                class="fa fa-refresh ml-2 text-success" aria-hidden="true"></i></span>

                        <span class="label label-primary ml-2 hoverPointer">Report</span>
                        <span class="label label-primary ml-2 hoverPointer">PRIMARY</span>
                        <span class="label label-success ml-2 hoverPointer">SUCCESS</span>
                        <span class="label label-info ml-2 hoverPointer">INFO</span>
                        <span class="label label-warning ml-2 hoverPointer">WARNING</span>
                        <span class="label label-danger ml-2 hoverPointer">DANGER</span>
                        <div class="right">
                            <button type="button" class="btn-toggle-collapse"><i
                                    class="lnr lnr-chevron-up"></i></button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="table-fixed">
                            <table class="table table-bordered table-p4 custom-table-hover">
                                <thead>
                                    <tr>
                                        <th colspan="6">
                                            <input class="form-control form-control-sm" placeholder="Search" type="text"
                                                [(ngModel)]="SearchCustomerList">
                                        </th>
                                    </tr>
                                    <tr>
                                        <th class="width-1p text-center">SN#</th>
                                        <th class="width-2p">Country Code</th>
                                        <th class="width-4p text-center">Country</th>
                                        <th class="width-2p text-center">Status</th>
                                        <th class="width-2p text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        *ngFor="let item of customerList | searchFilter : SearchCustomerList; let i = index">
                                        <td class="text-right"> {{i+1}} </td>
                                        <td class="text-left"> {{item?.CustomerCode}} </td>
                                        <td class="text-left"> {{item?.CustomerName}} </td>
                                        <td class="text-center">
                                            <span *ngIf="item?.isActive" class="text-success">Active</span>
                                            <span *ngIf="! item?.isActive" class="text-danger">In-Active</span>
                                        </td>
                                        <td (click)="EditItem(item)" title="Click to Edit the item."
                                            class="hoverPointer text-center"><i class="lnr lnr-pencil"></i></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>