<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home" aria-hidden="true"></i> </li>
        <li class="breadcrumb-item active">Client</li>
        <li class="breadcrumb-item active">Business</li>
        <li class="breadcrumb-item active">Travel</li>
        <li class="breadcrumb-item active">Transaction</li>
        <li class="breadcrumb-item active">Client</li>
        <li class="breadcrumb-item active">Advance</li>
        <li class="breadcrumb-item active">Payment</li>
        <li class="breadcrumb-item active">Clearance</li>
    </ol>
</nav>
<div class="tab-content" style="background-color: white;">
    <div id="topUp" class="tab-pane fade in active">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel">
                    <div class="panel-body">
                        <!-- --list -->
                        <div class="panel mt-3">                           
                            <div class="panel-body">
                                <div class="table-fixed">
                                    <table class="table table-bordered table-p4 custom-table-hover">
                                        <thead>
                                            <tr>
                                                <th colspan="12">
                                                    <input class="form-control form-control-sm" placeholder="Search"
                                                        type="text" [(ngModel)]="searchList">
                                                </th>
                                            </tr>
                                            <tr>
                                                <th class="width-1p text-center">SN#</th>
                                                <th class="width-5p text-center">Advance Code/Date</th>
                                                <th class="width-10p">Company</th>
                                                <th class="width-2p">Amount</th>
                                                <th class="width-2p">Payment Type</th>
                                                <th class="width-2p">Bank</th>
                                                <th class="width-2p">Cheque No</th>
                                                <th class="width-2p">is Cheque Clear</th>
                                                <th class="width-2p">Cheque Clearance Date</th>
                                                <th class="width-2p text-center">Status</th>
                                                <th class="width-2p text-center">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr
                                                *ngFor="let item of advancePaymentClearanceList | searchFilter : searchList; let i = index">
                                                <td class="width-1p text-right"> {{i+1}} </td>
                                                <td class="width-5p text-left"
                                                    [(ngModel)]="advancePaymentClearanceList.AdvanceCode"> Code
                                                    :{{item?.AdvanceCode}}
                                                    <br>Adv. Date : {{item?.AdvanceDate | date: 'dd MMM yyyy' }}

                                                </td>

                                                <td class="width-10p text-left">
                                                    Company : {{item?.CompanyName}}
                                                    <br> Customer : {{item?.CustomerName}}
                                                </td>
                                                <td class="width-2p text-left"> {{item?.Amount}}

                                                </td>
                                                <td class="width-2p text-left"> {{item?.PaymentTypeName}} </td>
                                                <td class="width-2p text-left"> {{item?.BankName}} </td>
                                                <td class="width-2p text-left"> {{item?.ChequeNo}} </td>
                                                <td class="text-center">                                                
                                                    <i *ngIf="item?.isClear"
                                                        (click)="item.isClear = false"
                                                        class="fa fa-check-square-o font-size-35 ml-3  text-success"
                                                        aria-hidden="true"></i>
                                                    <i *ngIf="! item?.isClear"
                                                        (click)="item.isClear = true"
                                                        class="fa fa-square-o font-size-35 ml-3 text-success"
                                                        aria-hidden="true"></i>
                                                </td>
                                                <td class="width-5p text-left">
                                                    <input type="date" data-date=""
                                                        [attr.data-date]="item.ClearingDate"
                                                        data-date-format="DD-MM-YYYY"
                                                        class="form-control width-190 form-control-sm"
                                                        [(ngModel)]="item.ClearingDate" />
                                                </td>
                                                <td class="text-center">
                                                    <span *ngIf="item?.isActive" class="text-success">Active</span>
                                                    <span *ngIf="! item?.isActive" class="text-danger">In-Active</span>
                                                </td>
                                                <td>
                                                    <button type="button" (click)="Update(item)"
                                                        class="btn btn-info ml-2"><i class="fas fa-redo-alt"></i>
                                                        Update</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>