<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home" aria-hidden="true"></i> </li>
        <li class="breadcrumb-item active">Client</li>
        <li class="breadcrumb-item active">Business</li>
        <li class="breadcrumb-item active">Travel</li>
        <li class="breadcrumb-item active">Transaction</li>
        <li class="breadcrumb-item active">Hotel</li>
        <li class="breadcrumb-item active">Booking</li>
    </ol>
</nav>
<ul class="nav nav-tabs">
    <li (click)="getHotelBookingList()"><a data-toggle="tab" class="hoverlink" href="#hotelBookingList"
            id="hotelBookingList_tab">Hotel Booking List</a>
    </li>
    <li class="active"> <a data-toggle="tab" class="hoverlink" href="#hotelBookingEntry" id="hotelBookingEntry_tab">
            Hotel Booking Entry</a>
    </li>
</ul>
<div class="tab-content" style="background-color: white;">
    <!-- TAB Hotel Booking  LIST | 1st TAB-->
    <div id="hotelBookingList" class="tab-pane">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel">
                    <div class="panel-heading">
                        <span class="hoverlink"><b>Hotel Booking List</b> <i class="fa fa-refresh ml-2 text-success"
                                aria-hidden="true"></i></span>

                        <div class="right">
                            <button type="button" class="btn-toggle-collapse"><i
                                    class="lnr lnr-chevron-up"></i></button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="table-fixed">
                            <table class="table table-bordered table-p4 custom-table-hover">
                                <thead>
                                    <tr>
                                        <th colspan="14">
                                            <input class="form-control form-control-sm" placeholder="Search" type="text"
                                                [(ngModel)]="SearchHotelBookingList">
                                        </th>
                                    </tr>
                                    <tr>
                                        <th class="width-1p text-center">SN#</th>
                                        <th class="width-10p ">Transaction Code</th>
                                        <th class="width-6p">Transaction Date</th>
                                        <th class="width-20p">Customer</th>
                                        <th class="width-10p">Card Info</th>
                                        <th class="width-10p">Currency</th>
                                        <th class="width-5p">Total Payable Amount</th>
                                        <th class="width-10p">Sold by</th>
                                        <th class="width-2p text-center">Status</th>
                                        <th class="width-2p text-center">Action</th>
                                        <th class="width-2p text-center">Print</th>
                                    </tr>
                                </thead>
                                <tbody class="font-size-12">
                                    <tr *ngFor="let item of hotelBookingList | searchFilter : SearchHotelBookingList; let i = index">
                                        <td class="text-right"> {{i+1}} </td>
                                        <td class="text-left  width-10p"> {{item?.TransactionCode}} </td>
                                        <td class="text-left  width-6p"> {{item?.TransactionDate | date: 'dd MMM
                                            yyyy'}} </td>
                                        <td class="text-left  width-20p">
                                            Name :  {{item?.CustomerName}}
                                        <br> Mobile No : {{item?.MobileNo}}
                                        <br> Address : {{item?.CustomerAddress}}
                                        </td>
                                        <td class="text-left  width-10p"> {{item?.CardCode}} </td>
                                        <td class="text-left  width-10p">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    Currency: {{item?.Currency}}
                                                    <br>Rate:<i> {{item?.CurrencyRate}} </i>
                                                </div>
                                            </div>

                                        </td>
                                        <td class="text-left width-5p"> {{item?.NetPayableAmt}} </td>
                                        <td class="text-left width-10p"> {{item?.FullName}} </td>
                                        <td class="text-center">
                                            <span *ngIf="item?.IsFinalLocked" class="text-success">Locked</span>
                                            <span *ngIf="!item?.IsFinalLocked" class="text-danger">UnLock</span>
                                        </td>

                                        <td (click)="EditItem(item)" title="Click to Edit the item."
                                            class="hoverPointer text-center"><i class="lnr lnr-pencil"></i>
                                        </td>
                                        <td class="text-center width-5p">
                                            <button class="btn btn-info" (click)="PrintHotelBooking(item)">
                                                Print
                                                <i class="fa fa-print" aria-hidden="true" style="padding: 2px"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- TAB Hotel Booking Entry LIST | 2nd TAB-->
    <div id="hotelBookingEntry" class="tab-pane fade in active">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel">
                    <div class="panel-heading btn-toggle-collapse">
                        <span><b>HOTEL BOOKING</b> </span>
                        <div class="right">
                            <button type="button"><i class="lnr lnr-chevron-up"></i></button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <span class="input-group-addon">Transaction No</span>
                                        <input readonly [(ngModel)]="hotelBookingObj.TransactionCode"
                                            class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <span class="input-group-addon">Transaction Date</span>
                                        <input type="date" data-date=""
                                            [attr.data-date]="hotelBookingObj.TransactionDate"
                                            data-date-format="dd-MM-YYYY" class="form-control width-190 form-control-sm"
                                            [(ngModel)]="hotelBookingObj.TransactionDate" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <span class="input-group-addon">Customer</span>
                                        <ng-select [items]="customerList" bindLabel="CustomerName"
                                            bindValue="CustomerCode" [(ngModel)]="hotelBookingObj.CustomerCode">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4 mt-3">
                                    <div class="col-md-12">
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <span class="input-group-addon">Currency</span>
                                                <select class="form-control" [(ngModel)]="hotelBookingObj.Currency"
                                                    (change)="onCurrencyChange($event.target.value)">
                                                    <option selected value="0">SELECT..</option>
                                                    <ng-container *ngFor="let item of currencyList; let i = index">
                                                        <option value="{{item.CurrencyName}}">{{item?.CurrencyName}}
                                                        </option>
                                                    </ng-container>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4"> <input [(ngModel)]="hotelBookingObj.CurrencyRate"
                                                class="form-control" type="text" (keypress)="isNumberKey($event)"
                                                readonly> </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mt-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">Card </span>
                                        <select class="form-control" [(ngModel)]="hotelBookingObj.CardCode">
                                            <option selected value="0">SELECT..</option>
                                            <ng-container *ngFor="let item of cardList; let i = index">
                                                <option value="{{item.CardID}}">{{item?.CardID}}>> {{item?.CardName}}
                                                </option>
                                            </ng-container>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4 mt-3">
                                    <div class="input-group">
                                        <span
                                            class="input-group-addon font-size-20 strong text-right text-success font-weight-bold">Net
                                            Payable</span>
                                        <input [(ngModel)]="hotelBookingObj.NetPayableAmt"
                                            class="form-control font-size-20 strong text-left text-success font-weight-bold"
                                            type="text" (keypress)="isNumberKey($event)" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4 mt-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">Sales Reference</span>
                                        <select class="form-control" [(ngModel)]="hotelBookingObj.SalesStaffCode">
                                            <option selected value="0">SELECT..</option>
                                            <ng-container *ngFor="let item of salesStaffList; let i = index">
                                                <option value="{{item.EmployeeCode}}">{{item?.FullName}}</option>
                                            </ng-container>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4 mt-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">Is Locked</span>
                                        <i *ngIf="hotelBookingObj?.IsFinalLocked"
                                            (click)="hotelBookingObj.IsFinalLocked = false"
                                            class="fa fa-check-square-o font-size-35 ml-3  text-success"
                                            aria-hidden="true"></i>
                                        <i *ngIf="! hotelBookingObj?.IsFinalLocked"
                                            (click)="hotelBookingObj.IsFinalLocked = true"
                                            class="fa fa-square-o font-size-35 ml-3 text-success"
                                            aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="col-md-4 mt-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">Remarks</span>
                                        <textarea [(ngModel)]="hotelBookingObj.Remark" class="form-control"
                                            rows="3"></textarea>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading btn-toggle-collapse">
                                <span><b>DETAILS</b> </span>
                                <div class="right">
                                    <button type="button"><i class="lnr lnr-chevron-up"></i></button>
                                </div>
                            </div>
                            <div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="btn btn-success" (click)="addDetailsNew('enter', $event)"><i
                                                class="fa fa-plus" aria-hidden="true"></i>Add NEW
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-fixed">
                                            <table
                                                class="table table-bordered table-p4 custom-table-hover font-size-11">
                                                <thead>
                                                    <tr>
                                                        <th class="width-1p text-center">SN#</th>
                                                        <th class="width-10p text-left">Name of Person</th>
                                                        <th class="width-10p text-left">City Name</th>
                                                        <th class="width-10p text-left">Provider Name</th>
                                                        <th class="width-10p text-left">Hotel Name</th>
                                                        <th class="width-10p text-left">Booking Ref No</th>
                                                        <th class="width-10p text-left">Room type</th>
                                                        <th class="width-10p text-left">Check In Date</th>
                                                        <th class="width-10p text-left">Check Out Date</th>
                                                        <th class="width-10p text-left">No Of Day</th>
                                                        <th class="width-10p text-left">Card Charge Amt.</th>
                                                        <th class="width-10p text-left">Room Fare</th>
                                                        <th class="width-10p text-left">Service Charge(%)</th>
                                                        <th class="width-10p text-left">Service Charge Amount</th>
                                                        <th class="width-10p text-left">Discount Amt.</th>
                                                        <th class="width-10p text-left">Cancellation Charge</th>
                                                        <th class="width-10p text-left">Is Cancel ?</th>
                                                        <th class="width-10p text-left">Total Amount</th>
                                                        <th class="width-p text-left">X</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let item of hotelBookingDetailObj; let i = index">
                                                        <td class="text-right"> {{i+1}} </td>
                                                        <td class="text-left">
                                                            <input type="text"
                                                                class="form-control form-control-sm text-left font-size-11"
                                                                [(ngModel)]="item.NameofPerson">
                                                        </td>
                                                        <td class="text-left">
                                                            <input type="text"
                                                                class="form-control form-control-sm text-left font-size-11"
                                                                [(ngModel)]="item.CityName">
                                                        </td>
                                                        <td class="text-left">
                                                            <div class="input-group">
                                                                <select
                                                                    class="form-control form-control-sm text-right font-size-11"
                                                                    [(ngModel)]="item.TravelProvider">
                                                                    <option selected value="0">SELECT</option>
                                                                    <ng-container *ngFor="let info  of providerList">
                                                                        <option value="{{info.ProviderCode}}">
                                                                            {{info?.ProviderName}}
                                                                        </option>
                                                                    </ng-container>
                                                                </select>
                                                            </div>
                                                        </td>
                                                        <td class="text-left">
                                                            <input type="text"
                                                                class="form-control form-control-sm text-left"
                                                                [(ngModel)]="item.HotelName">
                                                        </td>
                                                        <td class="text-left">
                                                            <input type="text"
                                                                class="form-control form-control-sm text-left"
                                                                [(ngModel)]="item.BookingRefNo">
                                                        </td>
                                                        <td>
                                                            <div class="input-group">
                                                                <select
                                                                    class="form-control form-control-sm text-right font-size-11"
                                                                    [(ngModel)]="item.RoomType">
                                                                    <option selected value="0">SELECT</option>
                                                                    <ng-container *ngFor="let info  of roomTypeList">
                                                                        <option value="{{info.RoomTypeCode}}">
                                                                            {{info?.RoomTypeName}}
                                                                    </ng-container>
                                                                </select>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <input type="date" data-date=""
                                                                [attr.data-date]="item.CheckInDate"
                                                                data-date-format="dd-MM-YYYY"
                                                                class="form-control  width-120 font-size-11 form-control-sm"
                                                                [(ngModel)]="item.CheckInDate" />
                                                        </td>
                                                        <td>
                                                            <input type="date" data-date=""
                                                                [attr.data-date]="item.CheckOutDate"
                                                                data-date-format="dd-MM-YYYY"
                                                                class="form-control width-120 font-size-11 form-control-sm"
                                                                [(ngModel)]="item.CheckOutDate" />
                                                        </td>
                                                        <td>
                                                            <input type="text" (keypress)="isNumberKey($event)"
                                                                class="form-control form-control-sm text-right font-size-10"
                                                                (input)="CalculateTotalPayableAmount(item)"
                                                                [(ngModel)]="item.NoOfDay"
                                                                (click)="selectTarget($event)">
                                                        </td>
                                                        <td>
                                                            <input type="text" (keypress)="isNumberKey($event)"
                                                                class="form-control form-control-sm text-right font-size-11"
                                                                [(ngModel)]="item.CardChargeAmount"
                                                                (click)="selectTarget($event)">
                                                        </td>
                                                        <td>
                                                            <input type="text" (keypress)="isNumberKey($event)"
                                                                class="form-control form-control-sm text-right font-size-11"
                                                                [(ngModel)]="item.RoomFare"
                                                                (input)="CalculateTotalPayableAmount(item)"
                                                                (click)="selectTarget($event)">
                                                        </td>
                                                        <td>
                                                            <input type="text" (keypress)="isNumberKey($event)"
                                                                class="form-control form-control-sm text-right font-size-11"
                                                                [(ngModel)]="item.ServiceChargePercent"
                                                                (input)="CalculateServiceChargeValue(item)"
                                                                (click)="selectTarget($event)">
                                                        </td>
                                                        <td>
                                                            <input type="text" (keypress)="isNumberKey($event)"
                                                                class="form-control form-control-sm text-right font-size-11"
                                                                [(ngModel)]="item.ServiceChargeValue"
                                                                (input)="CalculateServicePertageValue(item)"
                                                                (keyup.enter)="addDetailsNew('enter', $event)"
                                                                (click)="selectTarget($event)">
                                                        </td>
                                                        <td>
                                                            <input type="text" (keypress)="isNumberKey($event)"
                                                                class="form-control form-control-sm text-right font-size-11"
                                                                [(ngModel)]="item.DiscountValue"
                                                                (input)="CalculateTotalPayableAmount(item)"
                                                                (keyup.enter)="addDetailsNew('enter', $event)"
                                                                (click)="selectTarget($event)">
                                                        </td>
                                                        <td>
                                                            <input type="text" (keypress)="isNumberKey($event)"
                                                                class="form-control form-control-sm text-right font-size-11"
                                                                [(ngModel)]="item.CancellationCharge"
                                                                (input)="CalculeCancelationAmount(item)"
                                                                (click)="selectTarget($event)"
                                                                (keyup.enter)="addDetailsNew('enter', $event)"
                                                                [disabled]="! item?.IsCancel">
                                                        </td>
                                                        <td>
                                                            <div class="input-group">
                                                                <i *ngIf="item?.IsCancel"
                                                                    (click)="isUnCheckCancel(item)"
                                                                    class="fa fa-check-square-o font-size-35 ml-3 text-success"
                                                                    aria-hidden="true"></i>
                                                                <i *ngIf="! item?.IsCancel"
                                                                    (click)="isCheckCancel(item)"
                                                                    class="fa fa-square-o font-size-35 ml-3 text-success"
                                                                    aria-hidden="true"></i>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <input type="text" (keypress)="isNumberKey($event)"
                                                                class="form-control form-control-sm text-right font-size-11"
                                                                [(ngModel)]="item.TotalPayableAmt"
                                                                (click)="selectTarget($event)"
                                                                (keyup.enter)="addDetailsNew('enter', $event)"
                                                                [disabled]="true">
                                                        </td>

                                                        <td (click)="removeDetails(i)"> <i
                                                                class="fa fa-trash text-danger" aria-hidden="true"></i>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td>
                                                            <span
                                                                class="font-size-20 strong text-right text-success font-weight-bold">
                                                                Total=
                                                            </span>
                                                        </td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td>

                                                        </td>
                                                        <td>

                                                        </td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td> </td>
                                                        <td>
                                                            <span
                                                                class="font-size-20 strong text-right text-danger font-weight-bold">
                                                                {{sumofTotalCancellationCharge| number:'1.0-0' }}
                                                            </span>
                                                        </td>
                                                        <td></td>

                                                        <td>
                                                            <span
                                                                class="font-size-20 strong text-right text-success font-weight-bold">
                                                                {{sumOfTotalValue| number:'1.0-0' }}
                                                            </span>
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 mt-3">
                                        <button *ngIf="hotelBookingObj?.ID == 0" (click)="saveHotelBooking()"
                                            type="button" class="btn btn-success"><i class="fa fa-plus"></i>
                                            Save</button>
                                        <button *ngIf="hotelBookingObj?.ID > 0" (click)="saveHotelBooking()"
                                            type="button" class=" btn btn-success ml-2"><i class="fa fa-plus"></i>
                                            Update</button>
                                        <button *ngIf="hotelBookingObj?.ID > 0" class=" btn btn-info ml-2"
                                            (click)="PrintHotelBooking(hotelBookingObj)">
                                            Print
                                            <i class="fa fa-print" aria-hidden="true" style="padding: 2px"></i>
                                        </button>
                                        <button type="button" (click)="ResetModel()" class="btn btn-info ml-2"><i
                                                class="fas fa-redo-alt"></i> Reset</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>