<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home" aria-hidden="true"></i> </li>
        <li class="breadcrumb-item active">System</li>
        <li class="breadcrumb-item active">User</li>
    </ol>
</nav>
<ul class="nav nav-tabs">
    <li class="active "><a data-toggle="tab" class="hoverlink" href="#tabuser">User </a></li>
    <li><a data-toggle="tab" class="hoverlink" href="#tabTest">Tab Test</a></li>
</ul>
<div class="tab-content" style="background-color: white;">
    <div id="tabuser" class="tab-pane fade in active">
        <div class="row">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading btn-toggle-collapse">
                        <span><b>User Entry</b> </span>
                        <div class="right">
                            <button type="button"><i class="lnr lnr-chevron-up"></i></button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="input-group mt-4">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    <span class="input-group-addon">User Name </span>
                                    <input class="form-control" placeholder="User Name" [(ngModel)]="UserObj.UserName"
                                        type="text" [disabled]="IsUpdate">
                                </div>
                                <div class="input-group mt-4">
                                    <span class="input-group-addon">Password</span>
                                    <input class="form-control" placeholder="Password"
                                        [type]="IsPasswordShow ? 'text' : 'password'"
                                        [(ngModel)]="UserObj.UserPassword">

                                    <span class="input-group-addon hoverPointer" *ngIf="! IsPasswordShow"
                                        (click)="IsPasswordShow = true"><i class="fa fa-eye"
                                            aria-hidden="true"></i></span>
                                    <span class="input-group-addon hoverPointer" *ngIf="IsPasswordShow"
                                        (click)="IsPasswordShow = false"><i class="fa fa-eye-slash"
                                            aria-hidden="true"></i></span>

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group mt-4">
                                    <span class="input-group-addon" *ngIf="IsUpdate">{{UserObj?.EmployeeName}}
                                        ({{UserObj?.EmployeeCode}}) </span>
                                    <span class="input-group-addon" *ngIf="! IsUpdate">Employee </span>
                                    <select class="form-control" [disabled]="IsUpdate"
                                        [(ngModel)]="UserObj.EmployeeCode">
                                        <option selected value="0">SELECT..</option>
                                        <ng-container *ngFor="let item of EmpList; let i = index">
                                            <option value="{{item.EmployeeCode}}">{{item?.FullName}}
                                                ({{item?.EmployeeCode}})</option>
                                        </ng-container>
                                    </select>
                                </div>

                                <div class="input-group mt-4">
                                    <span class="input-group-addon">Application </span>

                                    <select class="form-control" [(ngModel)]="UserObj.ApplicationID">
                                        <option selected value="0">SELECT..</option>
                                        <ng-container *ngFor="let item of ApplicationList; let i = index">
                                            <option value="{{item.ID}}">{{item?.ApplicationName}}</option>
                                        </ng-container>

                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group mt-4">
                                    <span class="input-group-addon">Role </span>
                                    <select class="form-control" [(ngModel)]="UserObj.RoleID">
                                        <option selected value="0">SELECT..</option>
                                        <ng-container *ngFor="let item of RoleList; let i = index">
                                            <option value="{{item.ID}}">{{item?.Name}}</option>
                                        </ng-container>
                                    </select>

                                </div>
                                <div class="col-md-3 mt-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">Is Active:</span>
                                        <i *ngIf="UserObj?.IsActive" (click)="UserObj.IsActive = false"
                                            class="fa fa-check-square-o font-size-35 ml-3  text-success"
                                            aria-hidden="true"></i>
                                        <i *ngIf="! UserObj?.IsActive" (click)="UserObj.IsActive = true"
                                            class="fa fa-square-o font-size-35 ml-3 text-success"
                                            aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-inline mt-3">
                                <button type="button" class="btn btn-success ml-3" *ngIf="! IsUpdate"
                                    (click)="saveUser()"><i class="fa fa-plus"></i>
                                    Save</button>
                                <button type="button" class="btn btn-success ml-3" *ngIf="IsUpdate"
                                    (click)="saveUser()"><i class="fa fa-plus"></i>
                                    Update</button>
                                <button type="button" class="btn btn-info ml-2" (click)="ResetUserEntryForm()"><i
                                        class="fas fa-redo-alt"></i>
                                    Reset</button>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- LIST  -->

                <div class="panel">
                    <div class="panel-heading">
                        <span class="hoverlink" (click)="getUserList()"><b>User List</b>
                            <i class="fa fa-refresh ml-2 text-success" aria-hidden="true"></i>
                        </span>                        
                        <div class="right"><button type="button" class="btn-toggle-collapse"><i
                                    class="lnr lnr-chevron-up"></i></button> </div>
                    </div>
                    <div class="panel-body">

                        <div class="table-fixed">
                            <table class="table table-bordered table-p4 custom-table-hover">
                                <thead>
                                    <tr>
                                        <th colspan="11">
                                            <input class="form-control form-control-sm" [(ngModel)]="searchInUserList"
                                                placeholder="Search" type="text">
                                        </th>
                                    </tr>
                                    <tr>
                                        <th class="width-1p text-center">SN#</th>
                                        <th class="width-10p">userName</th>
                                        <th class="width-5p">Password</th>
                                        <th class="width-2p">Employee Code</th>
                                        <th class="width-10p">Employee Name</th>
                                        <th class="width-2p">Mobile</th>
                                        <th class="width-2p">Email</th>
                                        <th class="width-2p">ROLE</th>
                                        <th class="width-2p">Application</th>
                                        <th class="width-2p">STATUS</th>
                                        <th class="width-2p">EDIT</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        *ngFor="let item of UserDetailList | searchFilter : searchInUserList; let i = index">
                                        <td class="text-right">{{i+1}}</td>
                                        <td class="text-left">{{item?.UserName}}</td>
                                        <td class="text-left">{{item?.UserPassword}} </td>
                                        <td class="text-left">{{item?.EmployeeCode}}</td>
                                        <td class="text-left">{{item?.FullName}}</td>
                                        <td class="text-left">{{item?.Mobile}}</td>
                                        <td class="text-left">{{item?.Email}}</td>
                                        <td class="text-left">{{item?.RoleName}}</td>
                                        <td class="text-left">{{item?.ApplicationName}}</td>
                                        <td class="text-center">
                                            <span *ngIf="item?.UserIsActive" class="label label-info">Active</span>
                                            <span *ngIf="! item?.UserIsActive"
                                                class="label label-warning">In-Active</span>
                                        </td>
                                        <td class="text-center hoverPointer" (click)="EditUser(item);"><i
                                                class="lnr lnr-pencil"></i></td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <!-- LIST  -->
            </div>
        </div>
    </div>

    <div id="tabTest" class="tab-pane fade">
        <h1>Test Tab for User</h1>
    </div>
</div>