<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home" aria-hidden="true"></i> </li>
        <li class="breadcrumb-item active">Client</li>
        <li class="breadcrumb-item active">Business</li>
        <li class="breadcrumb-item active">Travel</li>
        <li class="breadcrumb-item active">Transaction</li>
        <li class="breadcrumb-item active">Air</li>
        <li class="breadcrumb-item active">Ticket</li>
        <li class="breadcrumb-item active">Registation</li>
    </ol>
</nav>
<ul class="nav nav-tabs">
    <li (click)="GetAirTicketList()"><a data-toggle="tab" class="hoverlink" href="#airTicketRegList"
            id="airTicketRegList_tab">Air Ticket
            Registration List</a></li>
    <li class="active"> <a data-toggle="tab" class="hoverlink" href="#airTicketRegEntry" id="airTicketRegEntry_tab">Air
            Ticket Entry</a>
    </li>
    <li (click)="GetAirTicketList()"> <a data-toggle="tab" class="hoverlink" href="#airTicketRegForwardForm"
            id="airTicketRegForwardForm_tab">Forward</a>
    </li>
    <li (click)="GetAirTicketList()"> <a data-toggle="tab" class="hoverlink" href="#airTicketRegCancellationForm"
            id="airTicketRegCancellationForm_tab">Cancellation</a>
    </li>
</ul>


<div class="tab-content" style="background-color: white;">
    <!-- TAB AIR TICKET REGISTRATION LIST | 1st TAB-->
    <div id="airTicketRegList" class="tab-pane">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel">
                    <div class="panel-heading">
                        <span class="hoverlink"><b>AIR TICKET REGISTRATION LIST</b> <i
                                class="fa fa-refresh ml-2 text-success" aria-hidden="true"></i></span>
                        <div class="right">
                            <button type="button" class="btn-toggle-collapse"><i
                                    class="lnr lnr-chevron-up"></i></button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="table-fixed">
                            <table class="table table-bordered table-p4 custom-table-hover">
                                <thead>
                                    <tr>
                                        <th colspan="20">
                                            <input class="form-control form-control-sm" placeholder="Search" type="text"
                                                [(ngModel)]="SearchAirTicketRegList">
                                        </th>
                                    </tr>
                                    <tr>
                                        <th class="width-1p text-center">SN#</th>
                                        <th class="width-8p">Registration</th>
                                        <th class="width-20p text-center">Customer</th>
                                        <th class="width-15p text-center">Card No</th>
                                        <th class="width-10p text-center">Currency</th>
                                        <th class="width-2p text-center">Total Payable</th>
                                        <th class="width-15p text-center">Sales Ref</th>
                                        <th class="width-1p text-center">Is Confirmed</th>
                                        <th class="width-1p text-center">Is Final</th>
                                        <th class="width-2p text-center">Action</th>
                                        <th class="width-2p text-center">Print</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="font-size-12"
                                        *ngFor="let item of airTicketregistaionList | searchFilter : SearchAirTicketRegList; let i = index">

                                        <td class="text-right"> {{i+1}} </td>
                                        <td class="text-left width-10p">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    CODE: {{item?.TransactionCode}}
                                                    <br> DATE: <i> {{item?.TransactionDate | date: 'dd MMM yyyy' }}
                                                    </i>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-left  width-10p">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    Code: {{item?.CustomerCode}}
                                                    <br>Name:<i> {{item?.CustomerName}} </i>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-left  width-10p">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    Card: {{item?.CardCode}}
                                                    <br>Charge:<i> {{item?.CardChargeAmount}} </i>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-left  width-10p">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    Currency: {{item?.Currency}}
                                                    <br>Rate:<i> {{item?.CurrencyRate}} </i>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-left width-5p"> {{item?.NetPayableAmt}} </td>
                                        <td class="text-left width-10p"> {{item?.SalesStaffName}} </td>
                                        <td class="text-center">
                                            <span *ngIf="item?.isConfirmed" class="text-success">Confirm</span>
                                            <span *ngIf="!item?.isConfirmed" class="text-danger">Not Confirm</span>
                                        </td>
                                        <td class="text-center">
                                            <span *ngIf="item?.IsFinalLocked" class="text-success">Locked</span>
                                            <span *ngIf="!item?.IsFinalLocked" class="text-danger">UnLock</span>
                                        </td>
                                        <td (click)="EditItem(item)" title="Click to Edit the item."
                                            class="hoverPointer text-center"><i class="lnr lnr-pencil"></i>
                                        </td>
                                        <td class="text-center width-5p">
                                            <button class="btn btn-info" (click)="PrintAirTicketReg(item)">
                                                Print
                                                <i class="fa fa-download" aria-hidden="true" style="padding: 2px"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- TAB AIR TICKET REGISTRATION ENTRY | 2ND TAB-->

    <div id="airTicketRegEntry" class="tab-pane fade in active">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel">
                    <div class="panel-heading btn-toggle-collapse">
                        <span><b>AIR TICKET REGISTATION</b> </span>
                        <div class="right">
                            <button type="button"><i class="lnr lnr-chevron-up"></i></button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-3 mt-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">Transaction Code</span>
                                        <input readonly [(ngModel)]="airTicketregObj.TransactionCode"
                                            class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-md-3 mt-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">Transaction Date</span>
                                        <input type="date" data-date=""
                                            [attr.data-date]="airTicketregObj.TransactionDate"
                                            data-date-format="dd-MM-YYYY" class="form-control width-190 form-control-sm"
                                            [(ngModel)]="airTicketregObj.TransactionDate" />
                                    </div>
                                </div>
                                <div class="col-md-3 mt-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">Customer</span>
                                        <select class="form-control" [(ngModel)]="airTicketregObj.CustomerCode">
                                            <option selected value="0">SELECT..</option>
                                            <ng-container *ngFor="let item of customerList; let i = index">
                                                <option value="{{item.CustomerCode}}">{{item?.CustomerName}}</option>
                                            </ng-container>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3 mt-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">Card</span>
                                        <select class="form-control" [(ngModel)]="airTicketregObj.CardCode">
                                            <option selected value="0">SELECT..</option>
                                            <ng-container *ngFor="let item of cardList; let i = index">
                                                <option value="{{item.CardID}}">{{item.CardID}}>>{{item?.CardName}}
                                                </option>
                                            </ng-container>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-3 mt-3">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    <span class="input-group-addon">Currency</span>
                                                    <select class="form-control" [(ngModel)]="airTicketregObj.Currency"
                                                        (change)="onCurrencyChange($event.target.value)">
                                                        <option selected value="0">SELECT..</option>
                                                        <ng-container *ngFor="let item of currencyList; let i = index">
                                                            <option value="{{item.CurrencyName}}">{{item?.CurrencyName}}
                                                            </option>
                                                        </ng-container>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="input-group">
                                                    <input [(ngModel)]="airTicketregObj.CurrencyRate" type="number"
                                                        class="form-control" readonly />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mt-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">Card Charge Amount</span>
                                        <input (click)="selectTarget($event)"
                                            [(ngModel)]="airTicketregObj.CardChargeAmount" class="form-control"
                                            type="number">
                                    </div>
                                </div>
                                <div class="col-md-3 mt-3">
                                    <div class="input-group">
                                        <div class="input-group">
                                            <span class="input-group-addon">Is Confirmed</span>
                                            <i *ngIf="airTicketregObj?.isConfirmed"
                                                (click)="airTicketregObj.isConfirmed = false"
                                                class="fa fa-check-square-o font-size-35 ml-3  text-success"
                                                aria-hidden="true"></i>
                                            <i *ngIf="! airTicketregObj?.isConfirmed"
                                                (click)="airTicketregObj.isConfirmed = true"
                                                class="fa fa-square-o font-size-35 ml-3 text-success"
                                                aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mt-3">
                                    <div class="input-group">
                                        <div class="input-group">
                                            <span class="input-group-addon">Is Final Locked</span>
                                            <i *ngIf="airTicketregObj?.IsFinalLocked"
                                                (click)="airTicketregObj.IsFinalLocked = false"
                                                class="fa fa-check-square-o font-size-35 ml-3  text-success"
                                                aria-hidden="true"></i>
                                            <i *ngIf="! airTicketregObj?.IsFinalLocked"
                                                (click)="airTicketregObj.IsFinalLocked = true"
                                                class="fa fa-square-o font-size-35 ml-3 text-success"
                                                aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-3 mt-3">
                                </div>
                                <div class="col-md-3 mt-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">Sales Reference</span>
                                        <select class="form-control" [(ngModel)]="airTicketregObj.SalesReferenceCode">
                                            <option selected value="0">SELECT..</option>
                                            <ng-container *ngFor="let item of salesStaffList; let i = index">
                                                <option value="{{item.EmployeeCode}}">{{item?.FullName}}</option>
                                            </ng-container>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3 mt-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">Remarks</span>
                                        <textarea [(ngModel)]="airTicketregObj.Remarks" class="form-control"
                                            rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-3 mt-3">
                                    <div class="input-group">
                                        <span
                                            class="input-group-addon font-size-20 strong text-right text-success font-weight-bold">Total
                                            Payable Amount</span>
                                        <input
                                            class="form-control font-size-20 strong text-left text-success font-weight-bold"
                                            readonly [(ngModel)]="airTicketregObj.NetPayableAmt" class="form-control"
                                            type="number">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel">
                            <div class="panel-heading btn-toggle-collapse">
                                <span><b>DETAILS</b> </span>
                                <div class="right">
                                    <button type="button"><i class="lnr lnr-chevron-up"></i></button>
                                </div>
                            </div>
                            <div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="btn btn-success" (click)="addDetailsNew('enter', $event)"><i
                                                class="fa fa-plus" aria-hidden="true"></i>Add NEW
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-fixed">
                                    <table class="table table-bordered table-p4 custom-table-hover font-size-11">
                                        <thead>
                                            <tr>
                                                <th class="width-10p">Name of Person</th>
                                                <th class="width-6p">Airlines</th>
                                                <th class="width-8p">Route</th>
                                                <th class="width-7p">Ticket No</th>
                                                <th class="width-6p">SeatType</th>
                                                <th class="width-6p">Provider</th>
                                                <th class="width-6p">Travel Date</th>
                                                <th class="width-6p">Return Date</th>
                                                <th class="width-6p">Base Fare</th>
                                                <th class="width-6p">Govt Tax</th>
                                                <th class="width-6p">AIT</th>
                                                <th class="width-6p">Comission Charge</th>
                                                <th class="width-6p">Svc. Charge(%)</th>
                                                <th class="width-6p">Svc. Charge Value</th>
                                                <th class="width-6p">Discount Amount</th>
                                                <th class="width-6p">Total Amount</th>
                                                <th class="width-1p">X</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of airTicketregDetailsObj; let i = index">
                                                <td>
                                                    <textarea [(ngModel)]="item.NameofPerson" class="form-control"
                                                        rows="2"></textarea>
                                                </td>
                                                <td>
                                                    <div class="input-group font-size-10">
                                                        <select class="form-control" [(ngModel)]="item.AirlinesCode">
                                                            <option selected value="0">SELECT..</option>
                                                            <ng-container *ngFor="let info  of airLineList">
                                                                <option value="{{info.AirlinesCode}}">
                                                                    {{info?.AirlinesName}}
                                                                </option>
                                                            </ng-container>
                                                        </select>
                                                    </div>
                                                </td>
                                                <td>
                                                    <textarea [(ngModel)]="item.Route" class="form-control"
                                                        rows="2"></textarea>
                                                </td>
                                                <td>
                                                    <textarea [(ngModel)]="item.TicketNo" class="form-control"
                                                        rows="2"></textarea>
                                                </td>
                                                <td>
                                                    <div class="input-group">
                                                        <select class="form-control" [(ngModel)]="item.SeatTypeCode">
                                                            <option selected value="0">SELECT</option>
                                                            <ng-container *ngFor="let info  of seatTypeList">
                                                                <option value="{{info.SeatTypeCode}}">
                                                                    {{info?.SeatType1}}
                                                                </option>
                                                            </ng-container>
                                                        </select>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="input-group">
                                                        <select class="form-control" [(ngModel)]="item.ProviderCode">
                                                            <option selected value="0">SELECT</option>
                                                            <ng-container *ngFor="let info  of travelProviderList">
                                                                <option value="{{info.ProviderCode}}">
                                                                    {{info?.ProviderName}}
                                                                </option>
                                                            </ng-container>
                                                        </select>
                                                    </div>
                                                </td>
                                                <td>
                                                    <input class="font-size-10" type="date" data-date=""
                                                        [attr.data-date]="item.TravelDate" data-date-format="dd-MM-YYYY"
                                                        class="form-control width-131 form-control-sm"
                                                        [(ngModel)]="item.TravelDate" />
                                                </td>
                                                <td>
                                                    <input class="font-size-10" type="date" data-date=""
                                                        [attr.data-date]="item.ReturnDate" data-date-format="dd-MM-YYYY"
                                                        class="form-control width-131 form-control-sm"
                                                        [(ngModel)]="item.ReturnDate" />
                                                </td>
                                                <td>
                                                    <input class="width-10p" type="number"
                                                        class="form-control form-control-sm text-right font-size-10"
                                                        [(ngModel)]="item.BaseFare"
                                                        (input)="CalculateTotalPayableAmount(item)"
                                                        (keyup.enter)="addDetailsNew('enter', $event)"
                                                        (click)="selectTarget($event)">
                                                </td>
                                                <td>
                                                    <input class="width-10p" type="number"
                                                        class="form-control form-control-sm text-right font-size-10"
                                                        [(ngModel)]="item.GovTax"
                                                        (input)="CalculateTotalPayableAmount(item)"
                                                        (keyup.enter)="addDetailsNew('enter', $event)"
                                                        (click)="selectTarget($event)">
                                                </td>
                                                <td>
                                                    <input class="width-10p" type="number"
                                                        class="form-control form-control-sm text-right font-size-10"
                                                        [(ngModel)]="item.AIT"
                                                        (input)="CalculateTotalPayableAmount(item)"
                                                        (keyup.enter)="addDetailsNew('enter', $event)"
                                                        (click)="selectTarget($event)">
                                                </td>
                                                <td>
                                                    <input class="width-10p" type="number"
                                                        class="form-control form-control-sm text-right font-size-10"
                                                        [(ngModel)]="item.Comission"
                                                        (input)="CalculateTotalPayableAmount(item)"
                                                        (keyup.enter)="addDetailsNew('enter', $event)"
                                                        (click)="selectTarget($event)">
                                                </td>
                                                <td>
                                                    <input class="width-10p" type="number"
                                                        class="form-control form-control-sm text-right font-size-10"
                                                        [(ngModel)]="item.ServiceChargePercent"
                                                        (input)="CalculateServicePertageValue(item)"
                                                        (keyup.enter)="addDetailsNew('enter', $event)"
                                                        (click)="selectTarget($event)">
                                                </td>
                                                <td>
                                                    <input class="width-10p" type="number"
                                                        class="form-control form-control-sm text-right font-size-10"
                                                        [(ngModel)]="item.ServiceChargeValue"
                                                        (input)="CalculateServiceChargeValue(item)"
                                                        (keyup.enter)="addDetailsNew('enter', $event)"
                                                        (click)="selectTarget($event)">
                                                </td>
                                                <td>
                                                    <input class="width-10p" type="number"
                                                        class="form-control form-control-sm text-right font-size-10"
                                                        [(ngModel)]="item.DiscountValue"
                                                        (input)="CalculateTotalPayableAmount(item)"
                                                        (keyup.enter)="addDetailsNew('enter', $event)"
                                                        (click)="selectTarget($event)">
                                                </td>

                                                <td>
                                                    <input class="width-10p" type="text"
                                                        class="form-control form-control-sm text-right font-size-10"
                                                        readonly [(ngModel)]="item.TotalPayableAmt"
                                                        (click)="selectTarget($event)">
                                                </td>
                                                <td class="text-center" (click)="removeDetails(i)"> <i
                                                        class="fa fa-trash text-danger" aria-hidden="true"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <span
                                                        class="font-size-12 strong text-right text-success font-weight-bold">
                                                        Total=
                                                    </span>
                                                </td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <span
                                                        class="font-size-12 strong text-right text-danger font-weight-bold">

                                                    </span>
                                                </td>
                                                <td>
                                                    <span
                                                        class="font-size-12 strong text-right text-success font-weight-bold">

                                                    </span>
                                                </td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <span
                                                        class="font-size-20 strong text-right text-success font-weight-bold">
                                                        {{sumOfTotalValue| number:'1.0-0' }}
                                                    </span>
                                                </td>
                                                <td></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- Save/Update Button -->
                        <div class="row">
                            <div class="col-md-3 mt-3">
                                <button *ngIf="airTicketregObj?.ID == 0" (click)="saveAirTicketReg()" type="button"
                                    class="btn btn-success"><i class="fa fa-plus"></i> Save</button>
                                <button *ngIf="airTicketregObj?.ID > 0" (click)="saveAirTicketReg()" type="button"
                                    class=" btn btn-success ml-2"><i class="fa fa-plus"></i> Update</button>
                                <button type="button" (click)="ResetModel()" class="btn btn-info ml-2"><i
                                        class="fas fa-redo-alt"></i> Reset</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- TAB AIR TICKET FORWRD FORM -->
    <div id="airTicketRegForwardForm" class="tab-pane">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel">
                    <div class="panel-heading btn-toggle-collapse">
                        <span><b>Air Ticket Forward</b> </span>
                        <div class="right">
                            <button type="button"><i class="lnr lnr-chevron-up"></i></button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-3 mt-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">Transaction Code</span>
                                        <select class="form-control" (change)="ticketDetail($event.target.value)">
                                            <option selected value="0">SELECT</option>
                                            <ng-container *ngFor="let item of airTicketregistaionList">
                                                <option value="{{item.TransactionCode}}">{{item?.TransactionCode}}
                                                </option>
                                            </ng-container>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3 mt-3">
                                    <div class="input-group">
                                        <span class="input-group-addon text-left">Customer</span>
                                        <input readonly class="form-control strong text-left"
                                            [(ngModel)]="forwardairTicketregObj.CustomerName" class="form-control"
                                            type="text">
                                    </div>
                                </div>
                                <div class="col-md-3 mt-3">
                                    <div class="input-group">
                                        <span
                                            class="input-group-addon font-size-20 strong text-right text-success font-weight-bold">Total
                                            Payable Amount</span>
                                        <input
                                            class="form-control font-size-20 strong text-left text-success font-weight-bold"
                                            readonly [(ngModel)]="forwardairTicketregObj.NetPayableAmt"
                                            class="form-control" type="number">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="panel">
                            <div class="panel-heading btn-toggle-collapse">
                                <span><b>DETAILS</b> </span>
                                <div class="right">
                                    <button type="button"><i class="lnr lnr-chevron-up"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-fixed">
                                    <table class="table table-bordered table-p4 custom-table-hover font-size-11">
                                        <thead>
                                            <tr>
                                                <th class="width-20p">Name of Person</th>
                                                <th class="width-20p">Airlines</th>
                                                <th class="width-10p">Ticket No</th>
                                                <th class="width-10p">SeatType</th> 
                                                <th class="width-10p">Base Fare</th> 
                                                <th class="width-10p">Govt. Tax</th> 
                                                <th class="width-10p">Service Charge</th> 
                                                <th class="width-10p">Is forward</th>
                                                <th class="width-10p">Change Date</th>
                                                <th class="width-10p">ChangePenalty</th>
                                                <th class="width-10p">Total Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of forwardingList; let i = index">
                                                <td>
                                                    <input readonly [(ngModel)]="item.NameofPerson"
                                                        class="form-control">
                                                </td>
                                                <td>
                                                    <input readonly [(ngModel)]="item.AirlinesCode"
                                                        class="form-control">
                                                </td>
                                                <td>
                                                    <input [(ngModel)]="item.TicketNo" class="form-control">

                                                </td>

                                                <td>
                                                    <div class="input-group">
                                                        <select class="form-control" [(ngModel)]="item.SeatTypeCode">
                                                            <option selected value="0">SELECT</option>
                                                            <ng-container *ngFor="let info  of seatTypeList">
                                                                <option value="{{info.SeatTypeCode}}">
                                                                    {{info?.SeatType1}}
                                                                </option>
                                                            </ng-container>
                                                        </select>
                                                    </div>
                                                </td>
                                                <td>
                                                    <input readonly [(ngModel)]="item.BaseFare" class="form-control">

                                                </td>
                                                <td>
                                                    <input  readonly [(ngModel)]="item.GovTax" class="form-control">

                                                </td>
                                                <td>
                                                    <input readonly [(ngModel)]="item.ServiceChargeValue" class="form-control">

                                                </td>
                                                <td>

                                                    <div class="input-group">
                                                        <i *ngIf="item?.IsForward" (click)="item.IsForward = false"
                                                            class="fa fa-check-square-o font-size-35 ml-3  text-success"
                                                            aria-hidden="true"></i>
                                                        <i *ngIf="! item?.IsForward" (click)="item.IsForward = true"
                                                            class="fa fa-square-o font-size-35 ml-3 text-success"
                                                            aria-hidden="true"></i>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="input-group">
                                                        <input type="date" data-date=""
                                                            [attr.data-date]="item.ChangeDate"
                                                            data-date-format="dd-MM-YYYY"
                                                            class="form-control width-190 form-control-sm"
                                                            [(ngModel)]="item.ChangeDate" />

                                                    </div>
                                                </td>
                                                <td>
                                                    <input class="width-10p" type="number"
                                                        class="form-control form-control-sm text-right"
                                                        [(ngModel)]="item.ChangePenalty"
                                                        (input)="CalculateTotalPayableWithForwardingChargeAmount(item)"
                                                        (click)="selectTarget($event)">
                                                </td>
                                                <td>
                                                    <input class="width-10p" type="text"
                                                        class="form-control form-control-sm text-right" readonly
                                                        [(ngModel)]="item.TotalPayableAmt">
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <span
                                                        class="font-size-20 strong text-right text-success font-weight-bold">
                                                        TOTAL
                                                    </span>
                                                </td>
                                                <td></td>
                                                <td>
                                                    <span
                                                        class="font-size-20 strong text-right text-success font-weight-bold">
                                                        {{sumOfForwardingTotalValue| number:'1.0-0' }}
                                                    </span>
                                                </td>

                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- Save/Update Button -->
                        <div class="row">
                            <div class="col-md-3 mt-3">
                                <button (click)="UpdateToForwardAirTicketReg()" type="button"
                                    class=" btn btn-success ml-2"><i class="fa fa-plus"></i> Update</button>
                                <button type="button" (click)="ResetForwardModel()" class="btn btn-info ml-2"><i
                                        class="fas fa-redo-alt"></i> Reset</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- TAB AIR TICKET CANCELLATION FORM -->
    <div id="airTicketRegCancellationForm" class="tab-pane">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel">
                    <div class="panel-heading btn-toggle-collapse">
                        <span><b>Air Ticket Cancellation</b> </span>
                        <div class="right">
                            <button type="button"><i class="lnr lnr-chevron-up"></i></button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-3 mt-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">Transaction Code</span>
                                        <select class="form-control"
                                            (change)="CancellationticketDetail($event.target.value)">
                                            <option selected value="0">SELECT</option>
                                            <ng-container *ngFor="let item of airTicketregistaionList">
                                                <option value="{{item.TransactionCode}}">{{item?.TransactionCode}}
                                                </option>
                                            </ng-container>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3 mt-3">
                                    <div class="input-group">
                                        <span class="input-group-addon text-left">Customer</span>
                                        <input readonly class="form-control strong text-left"
                                            [(ngModel)]="cancellingAirTicketregObj.CustomerName" class="form-control"
                                            type="text">
                                    </div>
                                </div>
                                <div class="col-md-3 mt-3">
                                    <div class="input-group">
                                        <span
                                            class="input-group-addon font-size-20 strong text-right text-success font-weight-bold">Total
                                            Payable Amount</span>
                                        <input
                                            class="form-control font-size-20 strong text-left text-success font-weight-bold"
                                            readonly [(ngModel)]="cancellingAirTicketregObj.NetPayableAmt"
                                            class="form-control" type="number">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="panel">
                            <div class="panel-heading btn-toggle-collapse">
                                <span><b>Cancellation Details</b> </span>
                                <div class="right">
                                    <button type="button"><i class="lnr lnr-chevron-up"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-fixed">
                                    <table class="table table-bordered table-p4 custom-table-hover font-size-11">
                                        <thead>
                                            <tr>
                                                <th class="width-20p">Name of Person</th>
                                                <th class="width-20p">Service Charge</th>
                                                <th class="width-20p">Penalty Charge</th>
                                                <th class="width-10p">Is Cancel</th>
                                                <th class="width-10p">CancellationCharge</th>
                                                <th class="width-10p">Total Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of CancellationList; let i = index">
                                                <td>
                                                    <input readonly [(ngModel)]="item.NameofPerson"
                                                        class="form-control">
                                                </td> 
                                                <td>
                                                    <input readonly [(ngModel)]="item.ServiceChargeValue"
                                                        class="form-control">
                                                </td> 
                                                <td>
                                                    <input readonly [(ngModel)]="item.ChangePenalty"
                                                        class="form-control">
                                                </td> 
                                                <td>
                                                    <div class="input-group">
                                                        <i *ngIf="item?.IsCancel" (click)="item.IsCancel = false"
                                                            class="fa fa-check-square-o font-size-35 ml-3  text-success"
                                                            aria-hidden="true"></i>
                                                        <i *ngIf="! item?.IsCancel" (click)="item.IsCancel = true"
                                                            class="fa fa-square-o font-size-35 ml-3 text-success"
                                                            aria-hidden="true"></i>
                                                    </div>
                                                </td>
                                                <td>
                                                    <input class="width-10p" type="number"
                                                        class="form-control form-control-sm text-right"
                                                        [(ngModel)]="item.CancellationCharge"
                                                        (input)="CalculateTotalPayableCancellationChargeAmount(item)"
                                                        (click)="selectTarget($event)">
                                                </td>
                                                <td>
                                                    <input class="width-10p" type="text"
                                                        class="form-control form-control-sm text-right" readonly
                                                        [(ngModel)]="item.TotalPayableAmt">
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td> 
                                                <td>
                                                    <span
                                                        class="font-size-20 strong text-right text-success font-weight-bold">
                                                        TOTAL
                                                    </span>
                                                </td>
                                                <td></td>
                                                <td>
                                                    <span
                                                        class="font-size-20 strong text-right text-success font-weight-bold">
                                                        {{sumofTotalCancellationCharge| number:'1.0-0' }}
                                                    </span>
                                                </td>

                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- Save/Update Button -->
                        <div class="row">
                            <div class="col-md-3 mt-3">
                                <button (click)="UpdateToCancellationAirTicketReg()" type="button"
                                    class=" btn btn-success ml-2"><i class="fa fa-plus"></i> Update</button>
                                <button type="button" (click)="ResetCancellationModel()" class="btn btn-info ml-2"><i
                                        class="fas fa-redo-alt"></i> Reset</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>