<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home" aria-hidden="true"></i> </li>
        <li class="breadcrumb-item active">Client</li>
        <li class="breadcrumb-item active">Business</li>
        <li class="breadcrumb-item active">Travel</li>
        <li class="breadcrumb-item active">Money</li>
        <li class="breadcrumb-item active">Receipt</li>
    </ol>
</nav>
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" class="hoverlink" href="#MRList" id="NRList_tab">Money Receipt List</a></li>
    <li><a data-toggle="tab" class="hoverlink" href="#MREntry" id="MREntry_tab">Money Receipt Entry</a>
    </li>
</ul>
<div class="tab-content" style="background-color: white;">
    <!-- TAB MR-List ; 1st TAB-->
    <div id="MRList" class="tab-pane fade in active">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel">
                    <div class="panel-heading btn-toggle-collapse">
                        <span><b>Money List</b> </span>
                        <div class="right">
                            <button type="button"><i class="lnr lnr-chevron-up"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- TAB MR-Entry ; 2nd TAB-->
    <div id="MREntry" class="tab-pane fade">
        <div class="row">
            <div class="col-md-12">
                <!-- RECENT PURCHASES -->
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Money Receipt Master</h3>
                        <div class="right">
                            <button type="button" class="btn-toggle-collapse"><i
                                    class="lnr lnr-chevron-up"></i></button>

                        </div>
                    </div>
                    <div class="panel-body no-padding">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-3 mt-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">Receipt Code</span>
                                        <input readonly [(ngModel)]="mrMasterModelDTOObj.ReceiptCode" class="form-control"
                                            type="text">
                                    </div>
                                </div>
                                <div class="col-md-3 mt-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">Registion Date</span>
                                        <input type="date" data-date="" [attr.data-date]="mrMasterModelDTOObj.ReceivedDate"
                                            data-date-format="dd-MM-YYYY" class="form-control width-190 form-control-sm"
                                            [(ngModel)]="mrMasterModelDTOObj.ReceivedDate" />
                                    </div>
                                </div>
                                <div class="col-md-3  mt-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">Client</span>
                                        <select class="form-control" [(ngModel)]="mrMasterModelDTOObj.CustomerCode"
                                            (change)="onChange($event.target.value)">
                                            <option selected value="0">SELECT..</option>
                                            <ng-container *ngFor="let item of customerList">
                                                <option value="{{item.CustomerCode}}">{{item?.CustomerName}}</option>
                                            </ng-container>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3  mt-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">Remarks</span>
                                        <textarea [(ngModel)]="mrMasterModelDTOObj.Remark" class="form-control"
                                            rows="3"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-3 mt-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">Total Payable Amount</span>
                                        <input readonly [(ngModel)]="mrMasterModelDTOObj.TotalPayableAmount"   class="form-control"
                                            type="number"> 
                                    </div>
                                </div>
                                <div class="col-md-3 mt-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">Is Lock:</span>
                                        <i *ngIf="mrMasterModelDTOObj?.IsLocked" (click)="mrMasterModelDTOObj.IsLocked = false"
                                            class="fa fa-check-square-o font-size-35 ml-3  text-success"
                                            aria-hidden="true"></i>
                                        <i *ngIf="! mrMasterModelDTOObj?.IsLocked" (click)="mrMasterModelDTOObj.IsLocked = true"
                                            class="fa fa-square-o font-size-35 ml-3 text-success"
                                            aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="col-md-3 mt-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">Is Active:</span>
                                        <i *ngIf="mrMasterModelDTOObj?.isActive" (click)="mrMasterModelDTOObj.isActive = false"
                                            class="fa fa-check-square-o font-size-35 ml-3  text-success"
                                            aria-hidden="true"></i>
                                        <i *ngIf="! mrMasterModelDTOObj?.isActive" (click)="mrMasterModelDTOObj.isActive = true"
                                            class="fa fa-square-o font-size-35 ml-3 text-success"
                                            aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-3 mt-3">
                                    <button *ngIf="mrMasterModelDTOObj?.ID == 0" (click)="saveUpdateMoneyReceipt()"
                                        type="button" class="btn btn-success"><i class="fa fa-plus"></i>
                                        Save</button>
                                    <button *ngIf="mrMasterModelDTOObj?.ID > 0" (click)="saveUpdateMoneyReceipt()" type="button"
                                        class="btn btn-success ml-2"><i class="fa fa-plus"></i>
                                        Update</button>
                                    <button type="button" (click)="ResetMoneyReceiptModel()"
                                        class="btn btn-info ml-2"><i class="fas fa-redo-alt"></i> Reset</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- START Service Payment Details -->
        <div class="row">
            <div class="col-md-4">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Service Payment Details</h3>
                        <div class="right">
                            <button type="button" class="btn-toggle-collapse"><i  class="lnr lnr-chevron-up"></i></button> 
                        </div>
                    </div>
                    <div class="panel-body no-padding">
                        
                        <table class="table table-striped">
                            <thead>
                                <tr  >
                                    <th class="text-left width-5p">Service Code</th>
                                    <th class="text-left width-20p">Service Name</th>
                                    <th class="text-left width-8p">Due Amount</th>
                                    <th class="text-left width-10p">Payable Amount</th> 
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="font-size-10" *ngFor="let item of serviceListObj" >

                                    <td class="text-left width-5p">
                                        <input readonly type="text" class="form-control form-control-sm"
                                            [(ngModel)]="item.ServiceCode">
                                    </td>
                                    <td class="text-left width-20p">
                                        <input readonly type="text" class="form-control form-control-sm"
                                            [(ngModel)]="item.ServiceName">
                                    </td>
                                    <td class="text-left width-8p">
                                        <input readonly type="text" class="form-control form-control-sm"
                                            [(ngModel)]="item.ServiceAmount">
                                    </td>
                                    <td class="text-left width-10p">
                                        <input type="text" class="form-control form-control-sm font-size-16 strong text-right"
                                        (input)="CalculateTotalPayableValue(serviceListObj)" 
                                           [(ngModel)]="item.PayableAmount" oninput="this.value=this.value.replace(/[^0-9]/g,'');">
                                    </td> 
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END Service Payment Details -->
            <!-- START Payment Status  -->
            <div class="col-md-8">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Payment Status Details</h3>
                        <div class="right">
                            <button type="button" class="btn-toggle-collapse"><i
                                    class="lnr lnr-chevron-up"></i></button>

                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="btn btn-success" (click)="addDetailsNew()"><i class="fa fa-plus"
                                aria-hidden="true"></i>Add  NEW
                        </div>
                        <br />
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-fixed">
                                    <table class="table table-bordered table-p1 custom-table-hover">
                                        <thead>
                                            <tr>
                                                <th class="text-left width-10p">Payment Type</th>
                                                <th class="text-left width-15p">Receive Amount</th>
                                                <th class="text-left width-15p">Bank Name</th>
                                                <th class="text-left width-15p">Cheque No</th>
                                                <th class="text-left width-15p">Card</th>
                                                <th class="text-left width-15p">POS Transaction No</th>
                                                <th class="text-left width-15p">TxnNo</th>
                                                <th class="text-center width-2p">Cancel</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="font-size-10" *ngFor="let item of mrPaymentDetailObj; let i = index">
                                                <td class="width-10p">
                                                    <select class="form-control  form-control-sm"
                                                        [(ngModel)]="item.PaymentType">
                                                        <option selected value="0">SELECT..</option>
                                                        <ng-container
                                                            *ngFor="let itm of PaymentTypeList">
                                                            <option value="{{itm.PaymentTypeCode}}">
                                                                {{itm?.PaymentTypeName}}
                                                            </option>
                                                        </ng-container>
                                                    </select>
                                                </td>

                                                <td class="width-15p">
                                                    <input type="number" class="form-control form-control-sm"
                                                        [(ngModel)]="item.ReceivedAmount">
                                                </td>
                                                <td class="width-10p">
                                                    <select class="form-control form-control-sm"
                                                        [(ngModel)]="item.BankName">
                                                        <option selected value="0">SELECT..</option>
                                                        <ng-container *ngFor="let itm of bankList; let i = index">
                                                            <option value="{{itm.BankCode}}">{{itm?.BankName}}</option>
                                                        </ng-container>
                                                    </select>
                                                </td>
                                                <td class="width-15p">
                                                    <input type="text" class="form-control form-control-sm" [(ngModel)]="item.ChequeNo">
                                                </td>
                                                <td class="width-15p">
                                                    <input type="text" class="form-control form-control-sm"  [(ngModel)]="item.CardNo">
                                                </td>
                                                <td class="width-15p">
                                                    <input type="text" class="form-control form-control-sm" [(ngModel)]="item.POSTransactionNo">
                                                </td>
                                                <td class="width-15p">
                                                    <input type="text" class="form-control form-control-sm" [(ngModel)]="item.TxnNo" (keyup.enter)="addDetailsNew()">
                                                </td>
                                                <td class="text-center width-2p" (click)="removeDetails(i)"> <i  class="fa fa-trash text-danger" aria-hidden="true"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Payment Status  -->
        </div>
    </div>
</div>