<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home" aria-hidden="true"></i> </li>
        <li class="breadcrumb-item active">Client</li>
        <li class="breadcrumb-item active">Business</li>
        <li class="breadcrumb-item active">Travel</li>
        <li class="breadcrumb-item active">Money</li>
        <li class="breadcrumb-item active">Receipt</li>
    </ol>
</nav>
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" class="hoverlink" href="#MRList" id="NRList_tab">Money Receipt List</a></li>
    <li><a data-toggle="tab" class="hoverlink" href="#MREntry" id="MREntry_tab">Money Receipt Entry</a>
    </li>
</ul>
<div class="tab-content" style="background-color: white;">
    <!-- TAB MR-List ; 1st TAB-->
    <div id="MRList" class="tab-pane fade in active">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel">
                    <div class="panel-heading btn-toggle-collapse">
                        <span><b>Money List</b> </span>
                        <div class="right">
                            <button type="button"><i class="lnr lnr-chevron-up"></i></button>
                        </div>
                    </div>

                    <div class="panel-body">
                        <div class="table-fixed mt-3">
                            <div class="row">
                                <div class="col-md-3 mt-2">
                                    <div class="input-group">
                                        <span class="input-group-addon">From Date</span>
                                        <input type="date" data-date="" data-date-format="dd-MM-YYYY"
                                            class="form-control width-150 form-control-sm"
                                            [(ngModel)]="commonModelObj.fromDate" />
                                    </div>
                                </div>
                                <div class="col-md-3 mt-2">
                                    <div class="input-group">
                                        <span class="input-group-addon">To Date</span>
                                        <input type="date" data-date="" data-date-format="dd-MM-YYYY"
                                            class="form-control width-150 form-control-sm"
                                            [(ngModel)]="commonModelObj.toDate" />
                                    </div>
                                </div>
                                <div class="col-md-3 mt-2">
                                    <div class="input-group">
                                        <button (click)="LoadData()" type="button" class="btn btn-success ml-2"><i
                                                class="fa fa-home"></i> Load</button>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-bordered table-p4 custom-table-hover mt-5">
                                <thead>
                                    <tr>
                                        <th colspan="12">
                                            <input class="form-control form-control-sm" placeholder="Search" type="text"
                                                [(ngModel)]="SearchList">
                                        </th>
                                    </tr>
                                    <tr>
                                        <th class="width-2p text-center">SN# [{{moneyReceiptList?.length}}] </th>
                                        <th class="width-1p text-center">Receipt Code</th>
                                        <th class="width-10p text-left">Receipt Date</th>
                                        <th class="width-20p">Customer Code/Name</th>
                                        <th class="width-10p">Total Paid Amount</th>
                                        <th class="width-20p text-left ">Remark</th>
                                        <th class="width-2p">Amount</th>
                                        <th class="width-2p text-center">Status</th>
                                        <th class="width-5p text-center">Action</th>
                                        <th class="width-2p text-center">Print</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr
                                        *ngFor="let item of moneyReceiptList | searchFilter : SearchList; let i = index">
                                        <td class="text-right width-2p"> {{i+1}} </td>
                                        <td class="text-left"> {{item?.ReceiptCode}} </td>
                                        <td class="text-left width-10p"> {{item?.ReceivedDate | date: 'dd MMM yyyy' }}
                                        </td>
                                        <td class="text-left width-20p">
                                            Code: {{item?.CustomerCode}} -> Name: {{item?.CustomerName}} </td>
                                        <td class="text-left width-10p"> {{item?.TotalPayableAmount}} </td>
                                        <td class="text-left width-20p"> {{item?.Remark}} </td>

                                        <td class="text-left width-5p">
                                            <span *ngIf="item?.IsLocked" class="text-danger">Locked</span>
                                            <span *ngIf="! item?.IsLocked" class="text-success">UnLocked</span>
                                        </td>
                                        <td class="text-left width-5p">
                                            <span *ngIf="item?.isActive" class="text-success">Active</span>
                                            <span *ngIf="! item?.isActive" class="text-danger">In-Active</span>
                                        </td>
                                        <td (click)="EditItem(item)" title="Click to Edit the item."
                                            class="hoverPointer text-center"><i class="lnr lnr-pencil"></i></td>
                                        <td class="text-center width-5p">
                                            <button  class="btn btn-info"  (click)="PrintMR(item)">
                                                Print
                                                <i class="fa fa-download" aria-hidden="true" style="padding: 2px"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- TAB MR-ENTRY ; 2nd TAB-->
    <div id="MREntry" class="tab-pane fade">
        <div class="row">
            <div class="col-md-12">
                <!-- RECENT PURCHASES -->
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Money Receipt Master</h3>
                        <div class="right">
                            <button type="button" class="btn-toggle-collapse"><i
                                    class="lnr lnr-chevron-up"></i></button>
                        </div>
                    </div>
                    <div class="panel-body no-padding">
                        <div class="row">
                            <!-- LEFT SIDE -->
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-6 mt-3">
                                            <div class="input-group">
                                                <span class="input-group-addon">Receipt Code</span>
                                                <input readonly [(ngModel)]="mrMasterModelDTOObj.ReceiptCode"
                                                    class="form-control" type="text">
                                            </div>
                                        </div>
                                        <div class="col-md-6 mt-3">
                                            <div class="input-group">
                                                <span class="input-group-addon">Registion Date</span>
                                                <input type="date" data-date=""
                                                    [attr.data-date]="mrMasterModelDTOObj.ReceivedDate"
                                                    data-date-format="dd-MM-YYYY" class="form-control   form-control-sm"
                                                    [(ngModel)]="mrMasterModelDTOObj.ReceivedDate" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-6 mt-3">
                                            <div class="input-group">
                                                <span class="input-group-addon">Customer</span>
                                                <select class="form-control"
                                                    [(ngModel)]="mrMasterModelDTOObj.CustomerCode"
                                                    (change)="onChange($event.target.value)">
                                                    <option selected value="0">SELECT..</option>
                                                    <ng-container *ngFor="let item of customerList">
                                                        <option value="{{item.CustomerCode}}">{{item?.CustomerName}}
                                                        </option>
                                                    </ng-container>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mt-3">
                                            <div class="input-group">
                                                <span class="input-group-addon">Total Paid Amount</span>
                                                <input readonly [(ngModel)]="mrMasterModelDTOObj.TotalPayableAmount"
                                                    class="form-control" type="number">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-6 mt-3">
                                            <div class="input-group">
                                                <span class="input-group-addon">Is Lock:</span>
                                                <i *ngIf="mrMasterModelDTOObj?.IsLocked"
                                                    (click)="mrMasterModelDTOObj.IsLocked = false"
                                                    class="fa fa-check-square-o font-size-35 ml-3  text-success"
                                                    aria-hidden="true"></i>
                                                <i *ngIf="! mrMasterModelDTOObj?.IsLocked"
                                                    (click)="mrMasterModelDTOObj.IsLocked = true"
                                                    class="fa fa-square-o font-size-35 ml-3 text-success"
                                                    aria-hidden="true"></i>
                                            </div>
                                        </div>
                                        <div class="col-md-3 mt-3">
                                            <div class="input-group">
                                                <span class="input-group-addon">Is Active:</span>
                                                <i *ngIf="mrMasterModelDTOObj?.isActive"
                                                    (click)="mrMasterModelDTOObj.isActive = false"
                                                    class="fa fa-check-square-o font-size-35 ml-3  text-success"
                                                    aria-hidden="true"></i>
                                                <i *ngIf="! mrMasterModelDTOObj?.isActive"
                                                    (click)="mrMasterModelDTOObj.isActive = true"
                                                    class="fa fa-square-o font-size-35 ml-3 text-success"
                                                    aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-6  mt-3">
                                            <div class="input-group">
                                                <span class="input-group-addon">Remarks</span>
                                                <textarea [(ngModel)]="mrMasterModelDTOObj.Remark" class="form-control"
                                                    rows="4"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mt-3">
                                            <div class="input-group" (click)="selectAllFullPaid(mrInvoiceDetailObj)"
                                                title="Select/UnSelect All">
                                                <span class="input-group-addon">Is Full Paid:</span>
                                                <i *ngIf="isFullPaid"
                                                    class="fa fa-check-square-o font-size-30 text-success"></i>
                                                <i *ngIf="!isFullPaid"
                                                    class="fa fa-square-o font-size-30 text-success"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- RIGHT -SIDE -->
                            <div class="col-md-8">
                                <div class="col-md-12">
                                    <div class="panel">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Payment Status Details</h3>
                                            <!-- <div class="right">
                                                <button type="button" class="btn-toggle-collapse"><i
                                                        class="lnr lnr-chevron-up"></i></button>

                                            </div> -->
                                        </div>
                                        <div class="panel-body">
                                            <div class="btn btn-success" (click)="addDetailsNew()"><i class="fa fa-plus"
                                                    aria-hidden="true"></i>Add NEW
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="table-fixed">
                                                        <table class="table table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <th class="text-left width-20p">Payment Type</th>
                                                                    <th class="text-left width-15p">Receive Amount</th>
                                                                    <th class="text-left width-15p">Bank Name</th>
                                                                    <th class="text-left width-15p">Cheque No</th>
                                                                    <th class="text-left width-15p">Card</th>
                                                                    <th class="text-left width-15p">POS Transaction No
                                                                    </th>
                                                                    <th class="text-left width-15p">TxnNo</th>
                                                                    <th class="text-center width-2p">Cancel</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr class="font-size-10"
                                                                    *ngFor="let item of mrPaymentDetailObj; let i = index">
                                                                    <td class="text-left width-20p">
                                                                        <select class="form-control  form-control-sm"
                                                                            [(ngModel)]="item.PaymentType">
                                                                            <option selected value="0">SELECT..</option>
                                                                            <ng-container
                                                                                *ngFor="let itm of PaymentTypeList">
                                                                                <option value="{{itm.PaymentTypeCode}}">
                                                                                    {{itm?.PaymentTypeName}}
                                                                                </option>
                                                                            </ng-container>
                                                                        </select>
                                                                    </td>

                                                                    <td class="text-left  width-15p">
                                                                        <input type="number"
                                                                            class="form-control form-control-sm"
                                                                            [(ngModel)]="item.ReceivedAmount">
                                                                    </td>
                                                                    <td class="text-left width-10p">
                                                                        <select class="form-control form-control-sm"
                                                                            [(ngModel)]="item.BankName">
                                                                            <option selected value="0">SELECT..</option>
                                                                            <ng-container
                                                                                *ngFor="let itm of bankList; let i = index">
                                                                                <option value="{{itm.BankCode}}">
                                                                                    {{itm?.BankName}}</option>
                                                                            </ng-container>
                                                                        </select>
                                                                    </td>
                                                                    <td class="text-left width-15p">
                                                                        <input type="text"
                                                                            class="form-control form-control-sm"
                                                                            [(ngModel)]="item.ChequeNo">
                                                                    </td>
                                                                    <td class="text-left width-15p">
                                                                        <input type="text"
                                                                            class="form-control form-control-sm"
                                                                            [(ngModel)]="item.CardNo">
                                                                    </td>
                                                                    <td class="text-left width-15p">
                                                                        <input type="text"
                                                                            class="form-control form-control-sm"
                                                                            [(ngModel)]="item.POSTransactionNo">
                                                                    </td>
                                                                    <td class="text-left width-15p">
                                                                        <input type="text"
                                                                            class="form-control form-control-sm"
                                                                            [(ngModel)]="item.TxnNo"
                                                                            (keyup.enter)="addDetailsNew()">
                                                                    </td>
                                                                    <td class="text-center width-2p"
                                                                        (click)="removeDetails(i)"> <i
                                                                            class="fa fa-trash text-danger"
                                                                            aria-hidden="true"></i>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- START Service Payment Details -->
        <div class="row">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Service Payment Details [{{mrInvoiceDetailObj?.length}}]</h3>
                        <div class="right">
                            <button type="button" class="btn-toggle-collapse"><i
                                    class="lnr lnr-chevron-up"></i></button>
                        </div>
                    </div>
                    <div class="panel-body no-padding">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-fixed">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th class="text-left width-6p">Service Code</th>
                                                <th class="text-left width-10p">Service Name</th>
                                                <th class="text-left width-6p">Invoice ID</th>
                                                <th class="text-left width-8p">Invoice Date</th>
                                                <th class="text-left width-10p">Service Description</th>
                                                <th class="text-left width-8p">Invoice Amount</th>
                                                <th class="text-left width-8p">Pre-Paid Amount</th>
                                                <th class="text-left width-8p">Due Amount</th>
                                                <th class="text-left width-8p">Payable Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="font-size-8" *ngFor="let item of mrInvoiceDetailObj">

                                                <td class="text-left width-6p">
                                                    <input readonly type="text" class="form-control form-control-sm"
                                                        [(ngModel)]="item.ServiceCode">
                                                </td>
                                                <td class="text-left width-10">
                                                    <input readonly type="text" class="form-control form-control-sm"
                                                        [(ngModel)]="item.ServiceName">
                                                </td>
                                                <td class="text-left width-6p">
                                                    <input readonly type="text" class="form-control form-control-sm"
                                                        [(ngModel)]="item.InvoiceID">
                                                </td>
                                                <td class="text-left width-8p">
                                                    <input readonly type="text" class="form-control form-control-sm"
                                                        [(ngModel)]="item.InvoiceDate ">
                                                </td>

                                                <td class="text-left width-10p">
                                                    <input readonly type="text" class="form-control form-control-sm"
                                                        [(ngModel)]="item.ServiceDescription">
                                                </td>
                                                <td class="text-left width-8p">
                                                    <input readonly type="text" class="form-control form-control-sm"
                                                        [(ngModel)]="item.InvoiceAmount">
                                                </td>
                                                <td class="text-left width-8p">
                                                    <input readonly type="text" class="form-control form-control-sm"
                                                        [(ngModel)]="item.PrePaidAmount">
                                                </td>
                                                <td class="text-left width-8p">
                                                    <input readonly type="text" class="form-control form-control-sm"
                                                        [(ngModel)]="item.DueAmount">
                                                </td>
                                                <td class="text-left width-8p">
                                                    <input type="text"
                                                        class="form-control form-control-sm font-size-16 strong text-right"
                                                        (input)="CalculateTotalPayableValue(mrInvoiceDetailObj)"
                                                        [(ngModel)]="item.PaidAmount"
                                                        oninput="this.value=this.value.replace(/[^0-9]/g,'');">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <table>
                                    <tfoot>
                                        <tr>
                                            <td class="width-240" colspan="8"></td>
                                            <td class="width-800 right"><strong> Total</strong> </td>
                                            <td class="width-120 right"><strong> {{sumOfTotalAmount| number:'1.0-0' }}
                                                </strong></td>

                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Service Payment Details -->

        <div class="row">
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-3 mt-3">
                            <button *ngIf="mrMasterModelDTOObj?.ID == 0" (click)="saveUpdateMoneyReceipt()"
                                type="button" class="btn btn-success"><i class="fa fa-plus"></i>
                                Save</button>
                            <button *ngIf="mrMasterModelDTOObj?.ID > 0 " (click)="saveUpdateMoneyReceipt()"
                                type="button" class="btn btn-success ml-2"><i class="fa fa-plus"></i>
                                Update</button>
                            <button type="button" (click)="ResetMoneyReceiptModel()" class="btn btn-info ml-2"><i
                                    class="fas fa-redo-alt"></i> Reset</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>