<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home" aria-hidden="true"></i> </li>
        <li class="breadcrumb-item active">Client</li>
        <li class="breadcrumb-item active">Business</li>
        <li class="breadcrumb-item active">Travel</li>
        <li class="breadcrumb-item active">Transaction</li>
        <li class="breadcrumb-item active">Visa</li>
        <li class="breadcrumb-item active">Registation</li>
    </ol>
</nav>
<ul class="nav nav-tabs">
    <li (click)="GETVisaTegLIST()"><a data-toggle="tab" class="hoverlink" href="#visaRegistrationList" id="visaRegistrationList_tab">Visa
            Registration List</a>
    </li>
    <li class="active"> <a data-toggle="tab" class="hoverlink" href="#visaRegistrationEntry"
            id="visaRegistrationEntry_tab">
            Visa Registration Entry</a>
    </li>
</ul>
<div class="tab-content" style="background-color: white;">
    <!-- TAB Visa Registration  List | 1st TAB-->
    <div id="visaRegistrationList" class="tab-pane">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel">
                    <div class="panel-heading">
                        <span class="hoverlink" (click)="GETVisaTegLIST()"><b>VISA REGISTRATION LIST</b> <i
                                class="fa fa-refresh ml-2 text-success" aria-hidden="true"></i></span>
                        <div class="right">
                            <button type="button" class="btn-toggle-collapse"><i
                                    class="lnr lnr-chevron-up"></i></button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="table-fixed">
                            <table class="table table-bordered table-p4 custom-table-hover">
                                <thead>
                                    <tr>
                                        <th colspan="15">
                                            <input class="form-control form-control-sm" placeholder="Search"
                                                type="text"  [(ngModel)]="SearchVisaRegList">
                                        </th>
                                    </tr>
                                    <tr>
                                        <th class="width-1p text-center">SN#</th>
                                        <th class="width-2p">Transaction Code</th>
                                        <th class="width-10p text-center">Transaction Date</th>
                                        <th class="width-10p text-center">Customer</th>
                                        <th class="width-10p text-center">Card</th>
                                        <th class="width-10p text-center">Currency</th>
                                        <th class="width-15p text-center">Sales Ref</th>
                                        <th class="width-10p text-center">Total Payable</th>
                                        <th class="width-2p text-center">Status</th>
                                        <th class="width-2p text-center">Action</th>
                                        <th class="width-2p text-center">Print</th>
                                    </tr>
                                </thead>
                                <tbody class="font-size-12">
                                    <tr *ngFor="let item of visaRegList | searchFilter : SearchVisaRegList; let i = index">

                                        <td class="text-right"> {{i+1}} </td>
                                        <td class="text-left  width-10p"> {{item?.TransactionCode}} </td>
                                        <td class="text-left  width-6p"> {{item?.TransactionDate | date: 'dd MMM
                                            yyyy'}} </td>
                                        <td class="text-left  width-20p">
                                            Name : {{item?.CustomerName}}
                                            <br> Mobile No : {{item?.MobileNo}}
                                            <br> Address : {{item?.CustomerAddress}}
                                        </td>
                                        <td class="text-left  width-10p"> {{item?.CardCode}} </td>
                                        <td class="text-left  width-10p">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    Currency: {{item?.Currency}}
                                                    <br>Rate:<i> {{item?.CurrencyRate}} </i>
                                                </div>
                                            </div>

                                        </td>
                                        <td class="text-left width-5p"> {{item?.SalesStaffName}} </td>
                                        <td class="text-left width-5p"> {{item?.NetPayableAmt}} </td>

                                        <td class="text-left width-10p"> {{item?.FullName}} </td>
                                        <td class="text-center">
                                            <span *ngIf="item?.IsFinalLocked" class="text-success">Locked</span>
                                            <span *ngIf="!item?.IsFinalLocked" class="text-danger">UnLock</span>
                                        </td>
                                        <td (click)="EditItem(item)" title="Click to Edit the item."
                                            class="hoverPointer text-center"><i class="lnr lnr-pencil"></i>
                                        </td>
                                        <td class="text-center width-5p">
                                            <button class="btn btn-info" (click)="PrintVisaReg(item)">
                                                Print
                                                <i class="fa fa-print" aria-hidden="true" style="padding: 2px"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- TAB Visa Registration  Entry | 2nd TAB-->
    <div id="visaRegistrationEntry" class="tab-pane fade in active">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel">
                    <div class="panel-heading btn-toggle-collapse">
                        <span><b>VISA REGISTATION</b> </span>
                        <div class="right">
                            <button type="button"><i class="lnr lnr-chevron-up"></i></button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">Transaction Code </span>
                                        <input readonly [(ngModel)]="visaMasterObj.TransactionCode" class="form-control"
                                            type="text">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">Transaction Date</span>
                                        <input type="date" data-date="" [attr.data-date]="visaMasterObj.TransactionDate"
                                            data-date-format="DD-MM-YYYY" class="form-control width-190 form-control-sm"
                                            [(ngModel)]="visaMasterObj.TransactionDate" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">Customer</span>
                                        <ng-select [items]="customerList" bindLabel="CustomerName"
                                            bindValue="CustomerCode" [(ngModel)]="visaMasterObj.CustomerCode">
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">Card</span>
                                        <select class="form-control" [(ngModel)]="visaMasterObj.CardCode">
                                            <option selected value="0">SELECT..</option>
                                            <ng-container *ngFor="let item of cardList; let i = index">
                                                <option value="{{item.CardID}}">{{item?.CardID}}>> {{item?.CardName}}
                                                </option>
                                            </ng-container>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-3 mt-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">Currency</span>
                                        <select class="form-control" [(ngModel)]="visaMasterObj.Currency"
                                            (change)="onCurrencyChange($event.target.value)">
                                            <option selected value="0">SELECT..</option>
                                            <ng-container *ngFor="let item of currencyList; let i = index">
                                                <option value="{{item.CurrencyName}}">{{item?.CurrencyName}}</option>
                                            </ng-container>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3 mt-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">Curency Rate</span>
                                        <input [(ngModel)]="visaMasterObj.CurrencyRate" type="text" class="form-control"
                                            readonly />
                                    </div>
                                </div>
                                <div class="col-md-3 mt-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">Sales Reference</span>
                                        <select class="form-control" [(ngModel)]="visaMasterObj.SalesReferenceCode">
                                            <option selected value="0">SELECT..</option>
                                            <ng-container *ngFor="let item of salesStaffList; let i = index">
                                                <option value="{{item.EmployeeCode}}">
                                                    {{item.EmployeeCode}}->{{item?.FullName}}</option>
                                            </ng-container>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3 mt-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">Net Payable</span>
                                        <input [(ngModel)]="visaMasterObj.NetPayableAmt" type="number"
                                            class="form-control" readonly />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-3 mt-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">Remarks</span>
                                        <textarea [(ngModel)]="visaMasterObj.Remark" class="form-control"
                                            rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-3 mt-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">Is Final Lock:</span>
                                        <i *ngIf="visaMasterObj?.IsFinalLocked"
                                            (click)="visaMasterObj.IsFinalLocked = false"
                                            class="fa fa-check-square-o font-size-35 ml-3  text-success"
                                            aria-hidden="true"></i>
                                        <i *ngIf="! visaMasterObj?.IsFinalLocked"
                                            (click)="visaMasterObj.IsFinalLocked = true"
                                            class="fa fa-square-o font-size-35 ml-3 text-success"
                                            aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="col-md-3 mt-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">Is Active:</span>
                                        <i *ngIf="visaMasterObj?.isActive" (click)="visaMasterObj.isActive = false"
                                            class="fa fa-check-square-o font-size-35 ml-3  text-success"
                                            aria-hidden="true"></i>
                                        <i *ngIf="! visaMasterObj?.isActive" (click)="visaMasterObj.isActive = true"
                                            class="fa fa-square-o font-size-35 ml-3 text-success"
                                            aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-heading btn-toggle-collapse">
                <span><b>DETAILS</b> </span>
                <div class="right">
                    <button type="button"><i class="lnr lnr-chevron-up"></i></button>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="btn btn-success" (click)="addDetailsNew('enter', $event)"><i class="fa fa-plus"
                                aria-hidden="true"></i>Add NEW
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-fixed">
                            <table class="table table-bordered table-p4 custom-table-hover font-size-11">
                                <thead>
                                    <tr>
                                        <th class="width-1p text-center">SN#</th>
                                        <th class="width-10p text-left">Name of Person</th>
                                        <th class="width-10p text-left">VisaType</th>
                                        <th class="width-10p text-left">VisaCountry</th>
                                        <th class="width-10p text-left">PassportNo</th>
                                        <th class="width-10p text-left">CardChargeAmount</th>
                                        <th class="width-10p text-left">VisaFee</th>
                                        <th class="width-10p text-left">GovtTax</th>
                                        <th class="width-10p text-left">Service Charge(%)</th>
                                        <th class="width-10p text-left">Service Charge Amount</th>
                                        <th class="width-10p text-left">Total Amount</th>
                                        <th class="width-p text-left">X</th>
                                    </tr>
                                </thead>
                                <tbody class="font-size-12">
                                    <tr *ngFor="let item of visaDetailsObj; let i = index">
                                        <td class="text-right"> {{i+1}} </td>
                                        <td class="text-left">
                                            <input type="text"
                                                class="form-control form-control-sm text-left font-size-11"
                                                [(ngModel)]="item.NameofPerson">
                                        </td>
                                        <td class="text-left">
                                            <div class="input-group">
                                                <select class="form-control form-control-sm text-right font-size-11"
                                                    [(ngModel)]="item.VisaType">
                                                    <option selected value="0">SELECT</option>
                                                    <ng-container *ngFor="let info  of visaTypeList">
                                                        <option value="{{info.VisaTypeCode}}">
                                                            {{info?.VisaTypeName}}
                                                        </option>
                                                    </ng-container>
                                                </select>
                                            </div>
                                        </td>
                                        <td class="text-left">
                                            <div class="input-group">
                                                <select class="form-control form-control-sm text-right font-size-11"
                                                    [(ngModel)]="item.VisaCountry">
                                                    <option selected value="0">SELECT</option>
                                                    <ng-container *ngFor="let info  of countryList">
                                                        <option value="{{info.CountryCode}}">
                                                            {{info?.CountryName}}
                                                        </option>
                                                    </ng-container>
                                                </select>
                                            </div>
                                        </td>
                                        <td class="text-left">
                                            <input type="text" class="form-control form-control-sm text-left"
                                                [(ngModel)]="item.PassportNo">
                                        </td>
                                        <td class="text-left">
                                            <input type="text" (keypress)="isNumberKey($event)"
                                                class="form-control form-control-sm text-left"
                                                [(ngModel)]="item.CardChargeAmount" (click)="selectTarget($event)">
                                        </td>
                                        <td class="text-left">
                                            <input type="text" (keypress)="isNumberKey($event)"
                                                class="form-control form-control-sm text-left"
                                                (input)="CalculateTotalPayableAmount(item)" [(ngModel)]="item.VisaFee"
                                                (click)="selectTarget($event)">
                                        </td>
                                        <td class="text-left">
                                            <input type="text" (keypress)="isNumberKey($event)"
                                                class="form-control form-control-sm text-left"
                                                (input)="CalculateTotalPayableAmount(item)" [(ngModel)]="item.GovtTax"
                                                (click)="selectTarget($event)">
                                        </td>
                                        <td class="text-left">
                                            <input type="text" (keypress)="isNumberKey($event)"
                                                class="form-control form-control-sm text-left"
                                                (input)="CalculateServiceChargeValue(item)"
                                                [(ngModel)]="item.ServiceChargePercent" (click)="selectTarget($event)">
                                        </td>
                                        <td class="text-left">
                                            <input type="text" (keypress)="isNumberKey($event)"
                                                class="form-control form-control-sm text-left"
                                                (input)="CalculateServicePertageValue(item)"
                                                [(ngModel)]="item.ServiceChargeValue" (click)="selectTarget($event)">
                                        </td>
                                        <td class="text-left">
                                            <input type="text" readonly class="form-control form-control-sm text-left"
                                                [(ngModel)]="item.TotalPayableAmt">
                                        </td>
                                        <td (click)="removeDetails(i)"> <i class="fa fa-trash text-danger"
                                                aria-hidden="true"></i>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <span class="font-size-20 strong text-right text-success font-weight-bold">
                                                Total=
                                            </span>
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <span class="font-size-20 strong text-right text-success font-weight-bold">
                                                {{sumOfTotalValue| number:'1.0-0' }}
                                            </span>
                                        </td>
                                        <td></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mt-3">
                        <button *ngIf="visaMasterObj?.ID == 0" (click)="saveVisaReg()" type="button"
                            class="btn btn-success"><i class="fa fa-plus"></i> Save</button>
                        <button *ngIf="visaMasterObj?.ID > 0" (click)="saveVisaReg()" type="button"
                            class=" btn btn-success ml-2"><i class="fa fa-plus"></i> Update</button>
                        <button type="button" (click)="ResetModel()" class="btn btn-info ml-2"><i
                                class="fas fa-redo-alt"></i> Reset</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>