<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home" aria-hidden="true"></i> </li>
        <li class="breadcrumb-item active">Client</li>
        <li class="breadcrumb-item active">Business</li>
        <li class="breadcrumb-item active">Travel</li>
        <li class="breadcrumb-item active">Transaction</li>
        <li class="breadcrumb-item active">Visa</li>
        <li class="breadcrumb-item active">Registation</li>
    </ol>
</nav>
<div class="tab-content" style="background-color: white;">
    <div class="tab-pane fade in active">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel">
                    <div class="panel-heading btn-toggle-collapse">
                        <span><b>VISA REGISTATION</b> </span>
                        <div class="right">
                            <button type="button"><i class="lnr lnr-chevron-up"></i></button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">Visa Code  </span>
                                        <input readonly [(ngModel)]="visaRegObj.VisaCode" class="form-control"
                                            type="text">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">Registion Date</span>
                                        <input type="text"  />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">Customer</span>
                                        <select class="form-control" [(ngModel)]="visaRegObj.CustomerCode">
                                            <option selected value="0">SELECT..</option>
                                            <ng-container *ngFor="let item of customerList; let i = index">
                                                <option value="{{item.CustomerCode}}">{{item?.CustomerName}}</option>
                                            </ng-container>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">Company</span>
                                        <select class="form-control" [(ngModel)]="visaRegObj.CompanyCode">
                                            <option selected value="0">SELECT..</option>
                                            <ng-container *ngFor="let item of companyList; let i = index">
                                                <option value="{{item.CustomerCode}}">{{item?.CustomerName}}</option>
                                            </ng-container>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 